<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css"> -->
    <link rel="stylesheet" href="./style.css">
    <title>Picture in picture</title>
</head>

<body>
    <h1>Picture in picture technology.</h1>
    
    <div class="container">       
    <!-- Video -->
       <video id="video" controls height="360" width="640" hidden ></video>
    <!-- Button -->
    <div class="button-container">
        <button id="button">START</button>
    </div>
        <div class="content">
            <h3>About technology:</h2>
            <div class="link">
                <a href="https://css-tricks.com/an-introduction-to-the-picture-in-picture-web-api/" target="_blank">Read about picture in picture</a>
            </div>
            <div class="link">
                <a href="https://developer.mozilla.org/ru/docs/Web/API/Screen_Capture_API" target="_blank">Screen_Capture_API</a>
            </div>  
            <p>Контейнеру кнопки <code>display: inline-block</code> чтобы ужалось по контенту</p>
            <p>Стартовая конструкция:</p>
            <pre><code>
                async function selectMediaStream() {
                    try {
                        console.log("some code")
                    
                    } catch (error) {
                        console.log("Error! Here: ", error)
                    }
                  }
                
                  // On Load
                selectMediaStream();
            </code></pre>
            <p>Метод <code>getDisplayMedia()</code> интерфейса MediaDevices предлагает пользователю выбрать и предоставить разрешение на захват содержимого дисплея или его части (например, окна) в качестве MediaStream.</p>
            <p>Синтаксис:</p>
            <pre><code>
                var promise = navigator.mediaDevices.getDisplayMedia(constraints);
            </code></pre>
            <p>Убрать атрибут <code>hidden</code></p>
            <pre><code>
                const videoElement = document.getElementById('video');
                const button = document.getElementById('button');

                <span>// Prompt to select media stream, pass to video element, then play</span>
                <span>// Предложить выбрать медиапоток, перейти к элементу видео, затем воспроизвести</span>
                async function selectMediaStream() {
                    try {
                    const mediaStream = await navigator.mediaDevices.getDisplayMedia();
                    console.log(videoElement);
                    console.log(mediaStream);
                    videoElement.srcObject = mediaStream;
                    videoElement.onloadedmetadata = () => {
                        videoElement.play();
                    };
                    } catch (error) {
                        console.log("Error! Here: ", error)
                    }
                }

                <span>// On Load</span>
                selectMediaStream();
            </code></pre>
            <div class="alert">
                <p>Свойство <code>srcObject</code> интерфейса <code>HTMLMediaElement</code> устанавливает или возвращает объект, который служит источником мультимедиа, связанного с <code>HTMLMediaElement</code>.  Объект может быть <code>MediaStream</code>, <code>MediaSource</code>, <code>Blob</code> или <code>File</code> (который наследуется от <code>Blob</code>). </p>
            </div>
            <p>Добавить событие на кнопку ,что бы по клику вызывался эффект "картинка в картинке"</p>
            <p>Вернуть атрибут <code>hidden</code> для элемента видео.</p>
            <pre><code>
                button.addEventListener('click', async () => {
                    <span>// Disable Button</span>
                    button.disabled = true;
                    <span>// Start Picture in Picture</span>
                    await videoElement.requestPictureInPicture();
                    <span>// Reset Button</span>
                    button.disabled = false;
                });
            </code></pre>
            <div class="alert">
                <p>Но конструкция <code>async await</code> работает только в хроме..</p>
            </div>
        </div>

        <!-- end container -->
    </div>



    <script src="./scripts.js"></script>
</body>

</html>