<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css"> -->
    <link rel="stylesheet" href="./style.css">
    <title>Picture in picture</title>
</head>

<body>
    <h1>Picture in picture technology.</h1>
    
    <div class="container">       
    <!-- Video -->
       <video id="video" controls height="360" width="640" hidden></video>
    <!-- Button -->
    <div class="button-container">
        <button id="button">START</button>
    </div>
        <div class="content">
            <h3>About technology:</h2>
            <div class="link">
                <a href="https://css-tricks.com/an-introduction-to-the-picture-in-picture-web-api/" target="_blank">Read about picture in picture</a>
            </div>
            <div class="link">
                <a href="https://developer.mozilla.org/ru/docs/Web/API/Screen_Capture_API" target="_blank">Screen_Capture_API</a>
            </div>  
            <p>Контейнеру кнопки <code>display: inline-block</code> чтобы ужалось по контенту</p>
            <p>Стартовая конструкция:</p>
            <pre><code>
                async function selectMediaStream() {
                    try {
                        console.log("some code")
                    
                    } catch (error) {
                        console.log("Error! Here: ", error)
                    }
                  }
                
                  // On Load
                selectMediaStream();
            </code></pre>
            <p>Метод <code>getDisplayMedia()</code> интерфейса MediaDevices предлагает пользователю выбрать и предоставить разрешение на захват содержимого дисплея или его части (например, окна) в качестве MediaStream.</p>
            <p>Синтаксис:</p>
            <pre><code>
                var promise = navigator.mediaDevices.getDisplayMedia(constraints);
            </code></pre>
            <p>Убрать атрибут <code>hidden</code></p>
        </div>

        <!-- end container -->
    </div>



    <script src="./scripts.js"></script>
</body>

</html>