<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">    
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" href="./style.css">
    <title>Light_dark_mode.</title>
</head>

<body>
    <h1>Joke teller technology.</h1>
    
    <div class="container">       
        
        <!-- end container -->
    </div>
    <div class="content">
        <h2>Статьи про дизан тёмных тем.</h2>
        <a href="https://material.io/design/color/dark-theme.html#usage" target="_blank">Material System</a><br>
        <a href="https://blog.prototypr.io/how-to-design-a-dark-theme-for-your-android-app-3daeb264637" target="_blank">The Ultimate Guide on Designing a Dark Theme for your Android app.</a>  
        <p>В разделе статьи блога есть раздел "On" colors, где группа цветов</p> 
        <p>Справа цвета для шрифтов, слева для бэка</p>

    </div>


    <script src="./scripts.js"></script>
</body>

</html>