html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: dodgerblue;
}


code {
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
    code {
        font-family: 'Fira Code VF', monospace;
    }
}