<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tutor Math game</title>
  <link rel="icon" href="./favicon.png" type="image/png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
  <link rel="stylesheet" href="./myStyle.css" />
  <link rel="stylesheet" href="./highlight/styles/atom-one-light.css" />
</head>

<body>
  <!-- my content -->
  <div class="wrapper">
    <h1>Math game.</h1>
    <p>Вначале получить элементы документа.</p>
    <p>Реализация навешивания класса при клике:</p>
    <p><code>startForm</code> - элемент форма:</p>
    <pre><code>
    &lt;form id=&quot;start-form&quot;&gt;
      &lt;div class=&quot;selection-container&quot;&gt;..&lt;/div&gt;            
      &lt;div class=&quot;selection-footer&quot;&gt;..&lt;/div&gt;            
    &lt;/form&gt;
      </code></pre>
    <p>
      <code>radioContainers</code> в отличии от <code>startForm</code> будет
      NODEList (форма одна, а этих элементов четыре):
    </p>
    <pre><code class="html">
    0: div.radio-container
    1: div.radio-container
    2: div.radio-container
    3: div.radio-container
      </code></pre>
    <p><code>ratioEl</code>:</p>
    <pre><code>
    &lt;div class=&quot;radio-container&quot;&gt;..&lt;/div&gt;
      </code></pre>
    <p>Соответственно, <code>radioEl.children</code> HTMLCollection:</p>
    <pre><code>
    0: label
    1: input#value-10
    2: span.best-score
      </code></pre>

    <pre><code>
    startForm.addEventListener("click", () => {
      radioContainers.forEach((radioEl) => {        
        <span>// Remove Selected Label Styling</span>
        radioEl.classList.remove("selected-label");
        <span>// Add it back if radio input is checked</span>
        if (radioEl.children[1].checked) {
          radioEl.classList.add("selected-label");
        }
      });
    });
    <span>// Класс навешивается, бэк нажатого элемента меняется</span>
      </code></pre>
    <h2>Получение числа перед question после нажатия кнопки Start Round</h2>
    <p>radioInputs: NodeList</p>
    <pre><code>
    0: input#value-10
    1: input#value-25
    2: input#value-50
    3: input#value-99
    <span>// каждый input имеет value с соотв. значением</span>
      </code></pre>
    <pre><code>

    <span>// 3-Equations</span>
    let questionAmount = 0;
    .. 

    <span>// 4-Get the value from selected radio button</span>
    function getRadioValue() {
      let radioValue;
      radioInputs.forEach((radioInput) => {
        if (radioInput.checked) {
          radioValue = radioInput.value;
        }
      });
      return radioValue;
    }

    <span>// 2-Form that decides amount of Questions</span>
    function selectQuestionAmount(e) {
      e.preventDefault();
      questionAmount = getRadioValue();
      console.log("question amount:", questionAmount);          
    }

    <span>//1 - Event Listeners</span>
    startForm.addEventListener("submit", selectQuestionAmount);
      </code></pre>
    <p>Теперь выбрать вариант вопроса и кликнуть на исполнение формы.</p>
    <p>
      Кстати, выбрав
      <code>startForm.addEventListener(<strong>"click"</strong>,
        selectQuestionAmount);</code>
      будет работать неверно: ловить клики по всей форме
    </p>
    <h2>Показ countdown page</h2>
    <pre><code>
      // Navigate from splash page to Countdown page
    function showCountdown() {
      countdownPage.hidden = false;
      splashPage.hidden = true;
    }

      // Form that decides amount of Questions
    function selectQuestionAmount(e) {
      e.preventDefault();
      questionAmount = getRadioValue();
      console.log("question amount:", questionAmount);
      <strong>if (questionAmount) {
        showCountdown();
      }</strong>
    }
      </code></pre>
    <p>
      Теперь при выборе варианта и нажатии кнопки появится страница с числом
      3.
    </p>
    <p>Теперь из html документа убрать число 3</p>
    <pre><code>
    &lt;!-- Countdown Page --&gt;
    &lt;div class=&quot;card&quot; id=&quot;countdown-page&quot; hidden&gt;
        &lt;h1 class=&quot;countdown&quot;&gt;3&lt;/h1&gt;
    &lt;/div&gt;   
      </code></pre>
    <pre><code>
      // Displays 3,2,1, GO!
    function countdownStart() {
      countdown.textContent = "3";
      setTimeout(() => {
        countdown.textContent = "2";
      }, 1000);
      setTimeout(() => {
        countdown.textContent = "1";
      }, 2000);
      setTimeout(() => {
        countdown.textContent = "GO!";
      }, 3000);
    }

    // Navigate from splash page to Countdown page
    function showCountdown() {
      countdownPage.hidden = false;
      splashPage.hidden = true;
      <strong>countdownStart();</strong>
    }

      </code></pre>
    <h2>Генерация рандомного уравнения(generate random equation )</h2>
    <pre><code>
    // Equations
    let questionAmount = 0;
    <strong>let equationsArray = [];</strong>

    // Get Random Number up to a certain amount
    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
    function createEquations() {
      // Randomly choose how many correct equations there should be
      // Случайным образом выберите, сколько должно быть правильных уравнений
      const correctEquations = getRandomInt(questionAmount);
      console.log("correctEquations:", correctEquations);
      // Set amount of wrong equations
      // Установите количество неправильных уравнений
      const wrongEquations = questionAmount - correctEquations;
      console.log("wrongEquations:", wrongEquations);
    }
    ... 
    // Navigate from splash page to Countdown page
    function showCountdown() {
      countdownPage.hidden = false;
      splashPage.hidden = true;
      countdownStart();
      <strong>createEquations();</strong>
    }
      </code></pre>
    <p>Теперь выбираю опцию "10 question" жму и в консоли</p>
    <pre><code>
        questionAmount: 10
        correctEquations: 6 // это число сгенерировано ф-ей getRandomInt в интервале 0-10
        wrongEquations: 4 // эта переменная - разница двух верхних 
      </code></pre>
    <p>Теперь добавить задачи. Это будут уравнения умножения</p>
    <pre><code>
      // Game page
      let firstNumber = 0;
      let secondNumber = 0;
      let equationObject = {};
      const wrongFormat = []; // сюда попадут неверные варианты?

      function createEquations() {
        // Randomly choose how many correct equations there should be
        // Случайным образом выберите, сколько должно быть правильных уравнений
        const correctEquations = getRandomInt(questionAmount);
        console.log("correctEquations:", correctEquations);
        // Set amount of wrong equations
        // Установите количество неправильных уравнений
        const wrongEquations = questionAmount - correctEquations;
        console.log("wrongEquations:", wrongEquations);
        // Loop through for each correct equation, multiply random numbers up to 9, push to array
        // Проитерировать каждое правильное уравнение, умножьте случайные числа до 9, нажмите в массив
        for (let i = 0; i < correctEquations; i++) {
          firstNumber = getRandomInt(9); // выбор числа для умноженияот 0 до 9
          secondNumber = getRandomInt(9);
          const equationValue = firstNumber * secondNumber;
          const equation = `${firstNumber} x ${secondNumber} = ${equationValue}`;
          equationObject = { value: equation, evaluated: "true" };
          equationsArray.push(equationObject);
        }
        // Loop through for each wrong equation, mess with the equation results, push to array
        for (let i = 0; i < wrongEquations; i++) {
          firstNumber = getRandomInt(9);
          secondNumber = getRandomInt(9);
          const equationValue = firstNumber * secondNumber;
          wrongFormat[0] = `${firstNumber} x ${secondNumber + 1} = ${equationValue}`;
          wrongFormat[1] = `${firstNumber} x ${secondNumber} = ${equationValue - 1}`;
          wrongFormat[2] = `${firstNumber + 1} x ${secondNumber} = ${equationValue}`;
          const formatChoice = getRandomInt(2);// даст число-индекс для equation
          const equation = wrongFormat[formatChoice];
          equationObject = { value: equation, evaluated: "false" };
          equationsArray.push(equationObject);
        }
        <strong>console.log("equationsArray: ",equationsArray)</strong>
      }

      </code></pre>
    <p>Выберу вариант "10 Questions" жму и имею:</p>
    <pre><code>
      questionAmount: 10
      correctEquations: 2
      wrongEquations: 8
      equationsArray: 
      0: {value: "1 x 6 = 6", evaluated: "true"}
      1: {value: "4 x 0 = 0", evaluated: "true"}
      2: {value: "4 x 6 = 23", evaluated: "false"}
      3: {value: "3 x 6 = 15", evaluated: "false"}
      4: {value: "0 x 0 = -1", evaluated: "false"}
      5: {value: "8 x 1 = 7", evaluated: "false"}
      6: {value: "8 x 7 = 48", evaluated: "false"}
      7: {value: "8 x 4 = 31", evaluated: "false"}
      8: {value: "4 x 7 = 24", evaluated: "false"}
      9: {value: "2 x 6 = 10", evaluated: "false"} 
      </code></pre>
    <p>Неверных вариантов выбило 8, верных 2, и это отразилось на массиве</p>
    <p>Теперь эти варианты в массиве нужно раскидать.</p>
    <a href="https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array" class="link">How
      to randomize (shuffle) a JavaScript array.</a>
    <p>
      Код для перемешивания массива в отдельном файле <code>shuffle.js</code>
    </p>
    <p>Ссылку поместить в <code>index.html</code> и в коде:</p>
    <pre><code>
        function createEquations() {

          //... 
          shuffle(equationsArray);
        }
      </code></pre>
    <p>Теперь элеменеты массива вперемешку.</p>
    <h2>Перенос всего этого добра в DOM &#128516;</h2>
    <pre><code>
      //Display Game Page
      function showGamePage() {
        gamePage.hidden = false;
        countdownPage.hidden = true;
      }
      //... 
      function createEquations() {
        //... 
        shuffle(equationsArray);
        console.log("equationsArray: ", equationsArray);
        <strong>equationToDOM();</strong>
      }
      // Add equations to DOM
      function equationToDOM() {
        equationsArray.forEach((equation) => {
          // Item
          const item = document.createElement("div");
          item.classList.add("item");
          // Equation text
          const equationText = document.createElement("h1");
          equationText.textContent = equation.value;
          // Append
          item.appendChild(equationText);
          itemContainer.appendChild(item);
        });
      }
      //... 
      // Navigate from splash page to Countdown page
      function showCountdown() {
        countdownPage.hidden = false;
        splashPage.hidden = true;
        countdownStart();
        createEquations();
        <strong>setTimeout(showGamePage, 4000);</strong>
      }
      </code></pre>
    <p>Теперь уравнения выводятся через 4 сек</p>
    <div class="alert">
      <p>
        <code>overflow-y: scroll</code> позволяет скрыть контент по оси y и
        скролить элементы
      </p>
    </div>
    <pre><code>
          function createEquations() {
            //... 
            shuffle(equationsArray);
            // две нижние строки убрать в createEquations()
            console.log("equationsArray: ", equationsArray);
            equationToDOM();
          }
          // Dynamically adding correct/incorrect equations
          function populateGamePage() {
            // Reset DOM, Set Blank Space Above
            itemContainer.textContent = "";
            // Spacer
            const topSpacer = document.createElement("div");
            topSpacer.classList.add("height-240");
            // Selected Item
            const selectedItem = document.createElement("div");
            selectedItem.classList.add("selected-item");
            // Append
            itemContainer.append(topSpacer, selectedItem);
          
            // Create Equations, Build Elements in DOM
            createEquations();
            equationsToDOM();
          
            // Set Blank Space Below
            const bottomSpacer = document.createElement("div");
            bottomSpacer.classList.add("height-500");
            itemContainer.appendChild(bottomSpacer);
          }

        // Navigate from splash page to Countdown page
        function showCountdown() {
          countdownPage.hidden = false;
          splashPage.hidden = true;
          countdownStart();
          // замена createEquations() на populateGamePage()
          populateGamePage(); 
          setTimeout(showGamePage, 4000);
        }
        </code></pre>
    <p>В результате после запуска получаю</p>
    <pre><code>
      &lt;div class=&quot;item-container&quot;&gt;
        &lt;div class=&quot;height-240&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;selected-item&quot;&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div class=&quot;height-500&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;
        </code></pre>
    <p>
      <code>&lt;div class=&quot;selected-item&quot;&gt;&lt;/div&gt</code>
      голубого цвета и <code>position: fixed</code>
    </p>
    <h2>Авто скроллинг и реакция на нажатия кнопок "верно" "неверно"</h2>
    <p>Добавить кнопкам атрибуты клика</p>
    <pre><code>
      &lt;div class=&quot;item-footer&quot;&gt;
        &lt;button class=&quot;wrong&quot; onclick=&quot;select(false)&quot;&gt;Wrong&lt;/button&gt;
        &lt;button class=&quot;right&quot; onclick=&quot;select(true)&quot;&gt;Right&lt;/button&gt;
      &lt;/div&gt;
      </code></pre>
    <div class="alert">
      <p>
        Метод <code>scroll()</code> интерфейса
        <code>Element</code> прокручивает элемент до определенного набора
        координат внутри данного элемента
      </p>
    </div>
    <pre><code>
      // Equations
      let questionAmount = 0;
      let equationsArray = [];
      let playerGuessArray = [];
      //..
      //Scroll
      let valueY = 0;
      // Scroll, Store user selection in playerGuessArray
      function select(guessedTrue) {
        console.log("playerGuessArray: ", playerGuessArray);
        // каждый клик по кнопке будет добавлять 80, т.к высота item 80px 
        valueY += 80;
        // itemContainer - обёртка всех элементов уавнений(см. его выше)
        itemContainer.scroll(0, valueY);
        // Add player guess to array: если аргумент true, то это в массив
        return guessedTrue
          ? playerGuessArray.push("true")
          : playerGuessArray.push("false");
      }
      </code></pre>
    <p>
      Выбрать вопросы и клик по вариантам: массив заполняется и контейнер
      вопросов скроллится вниз
    </p>
    <p>массив типа такого:</p>
    <pre><code>
        playerGuessArray: ["true", "false", "false", "false", "false"]
      </code></pre>
    <h2>Ввожу отсчёт времени на ответ</h2>
    <pre><code>
      // 1.Time
      let timer;
      let timePlayed = 0;
      let baseTime = 0;
      let penaltyTime = 0;
      let finalTime = 0;
      let finalTimeDisplay = '0.0';
      // ... 
      // 6.Stop Timer, Process Results, go to Score Page
      function checkTime() {
        console.log("timePlayed: ", timePlayed);
        if (playerGuessArray.length == questionAmount) {
          clearInterval(timer)
        }
      }
      //...
      // 4.Add a tenth of a second to timePlayed
      function addTime() {
        timePlayed += 0.1;
        checkTime();
      }
      // ... 
      // 2.Start timer when game page is clicked
      function startTimer() {
        // Reset times
        timePlayed = 0;
        penaltyTime = 0;
        finalTime = 0;
        // 5.
        timer = setInterval(addTime, 100);
        gamePage.removeEventListener('click', startTimer);
      }
      // ... 
      // 3.Event Listeners
      gamePage.addEventListener("click", startTimer)
      </code></pre>
    <p>gamePage:</p>
    <pre><code>
    &lt;div class=&quot;card&quot; id=&quot;game-page&quot; hidden&gt;
      &lt;!-- Item Container --&gt;
      &lt;div class=&quot;item-container&quot;&gt;&lt;/div&gt;
      &lt;!-- Right/Wrong Buttons --&gt;
      &lt;div class=&quot;item-footer&quot;&gt;
        &lt;button class=&quot;wrong&quot; onclick=&quot;select(false)&quot;&gt;Wrong&lt;/button&gt;
        &lt;button class=&quot;right&quot; onclick=&quot;select(true)&quot;&gt;Right&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
      </code></pre>
    <p>Смотреть консоль. timePlayed тикает пока длинна массива не будет равна колличеству вопросов.</p>
    <p>Теперь добавить штраф времени за неверный ответ</p>
    <pre><code>
    // Stop Timer, Process Results, go to Score Page
    function checkTime() {
      console.log("timePlayed: ", timePlayed);
      if (playerGuessArray.length == questionAmount) {
        clearInterval(timer);
        equationsArray.forEach((equation, index) => {
          if (equation.evaluated === playerGuessArray[index]) {
            // correct, no penalty
          } else {
            // incorrect, add penalty
            penaltyTime += 0.5;
          }
        })
        finalTime = timePlayed + penaltyTime
        console.log("timePlayed: ", timePlayed, "penaltyTime: ", penaltyTime, "finalTime: ", finalTime)
      }
    }
    </code></pre>

    <!-- end -->
  </div>

  <script src="./highlight/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>