<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor book keeper</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h2>Start</h2>
      <p>
        Чтобы получить ссылку на видео: идти на сайт
        <code>pixabay.com/video</code> , выбрать видео, нажать на
        <code>free download</code> выбрать разрешение <code>1280</code> и ПКМ на
        <code>download</code> и <code>"копировать адрес ссылки"</code>
      </p>
      <p>
        Паттерн для body на
        <a class="link" href="https://www.heropatterns.com/">heropatterns</a>
      </p>
      <div class="alert">
        <p>
          <code>playsinline</code>:логический атрибут элемента
          <code>video</code>. Экраны устройств использующих Android или iOS
          довольно маленькие, поэтому при просмотре video на браузере данных
          устройств, оно автоматически воспроизводит video в полноэкранном
          режиме (Fullscreen). Атрибут <code>playsinline</code> является видом
          boolean, он помогает браузеру предотвратить действие выше.
        </p>
      </div>
      <div class="alert">
        <p>
          Свойство <code>CSS</code> <code>transition</code> - это сокращенное
          свойство для <code>transition-property</code>,
          <code>transition-duration</code>,
          <code>transition-timing-function</code>, и
          <code>transition-delay</code>.
        </p>
      </div>
      <div class="alert">
        <p>
          <code>position: relative</code> Относительное позиционирование
          сдвигает элемент относительно его обычного положения. Для того, чтобы
          применить относительное позиционирование, необходимо указать элементу
          CSS-свойство position: relative и координаты
          <code>left/right/top/bottom.</code>
        </p>
      </div>
      <div class="alert">
        <p>
          <code>Transition</code> описывает переход в определённое
          состояние.Каждый одно-свойственный <code>transition</code> описывает
          переход, который должен быть применён к одному свойству (или
          специальным значениям <code>all</code> и <code>none</code>).
        </p>
      </div>
      <h2>Получить данные DOM</h2>
      <pre><code>
      const player = document.querySelector(".player");
      const video = document.querySelector(".video");
      const progressRange = document.querySelector(".progress-range");
      const progressBar = document.querySelector(".progress-bar");
      const playBtn = document.getElementById("play-btn");
      const volumeIcon = document.getElementById("volume-icon");
      const volumeRange = document.querySelector(".volume-range");
      const volumeBar = document.querySelector(".volume-bar");
      const speed = document.querySelector(".player-speed");
      const currentTime = document.querySelector(".time-elapsed");
      const duration = document.querySelector(".time-duration");
      const fullscreenBtn = document.querySelector(".fullscreen");
      </code></pre>
      <a class="link" href="https://www.w3schools.com/tags/ref_av_dom.asp"
        >HTML Audio/Video DOM</a
      >
      <h2>Реализация запуска и паузы</h2>
      <pre><code>
        <span>// Play & Pause </span>
      function togglePlay() {
        if (video.paused) {
          video.play();
        } else {
          video.pause();
        }
      }
      <span>// Event Listeners</span>
      playBtn.addEventListener("click", togglePlay);
      video.addEventListener("click", togglePlay);
      </code></pre>
      <p>Первый клик - запуск, второй - пауза.</p>
      <h2>Изменение иконки паузы и запуска</h2>
      <pre><code>
      function togglePlay() {
        if (video.paused) {
          video.play();
          playBtn.classList.replace("fa-play", "fa-pause");
          playBtn.setAttribute("title", "Pause");
        } else {
          video.pause();
          playBtn.classList.replace("fa-pause", "fa-play");
          playBtn.setAttribute("title", "Play");
        }
      }
      </code></pre>
      <h2>Показать кнопку play при окончании видео</h2>
      <pre><code>
        <strong>function showPlayIcon() {
          playBtn.classList.replace("fa-pause", "fa-play");
          playBtn.setAttribute("title", "Play");
        }</strong>
        function togglePlay() {
          if (video.paused) {
            video.play();
            playBtn.classList.replace("fa-play", "fa-pause");
            playBtn.setAttribute("title", "Pause");
          } else {
            video.pause();
            <span>// инструкции вынесены в отдельную функцию</span>
            <span>из-за последующего исп-ия в ивенте</span>
            <strong>showPlayIcon();</strong>
          }
        }
        <span>// On video end show play button icon</span>
        <strong>video.addEventListener("ended", showPlayIcon);</strong>
      </code></pre>
      <h2>Progress Bar</h2>
      <div class="alert">
        <p>
          Свойство <code>currentTime</code> устанавливает или возвращает текущую
          позицию (в секундах) воспроизведения аудио / видео. При установке
          этого свойства воспроизведение переместится в указанную позицию.
        </p>
        <hr />
        <p>
          <code>duration</code>возвращает длину текущего аудио / видео (в
          секундах).
        </p>
        <hr />
        <p>
          <code>timeupdate</code> срабатывает при изменении текущей позиции
          воспроизведения
        </p>
        <hr />
        <p>
          <code>canplay</code>срабатывает, когда браузер может начать
          воспроизведение аудио / видео
        </p>
      </div>
      <a class="link" href="https://www.w3schools.com/tags/ref_av_dom.asp"
        >w3schools.com: currentTime & duration & timeupdate & canplay</a
      >
      <pre><code>
      <span>// Event Listeners</span>
      playBtn.addEventListener("click", togglePlay);
      video.addEventListener("click", togglePlay);
      <strong>video.addEventListener("timeupdate", updateProgress);
      video.addEventListener("canplay", updateProgress);</strong>
      </code></pre>

      <pre><code>
      <span>// Progress Bar ---------------------------------- //</span>

      <span>// Update progress bar as video plays</span>
      function updateProgress() {
        console.log(
          "Current time: ",
          video.currentTime,
          "duration: ",
          video.duration
        );
      }
      </code></pre>
      <p>Теперь менять полоску произведения</p>
      <pre><code>
      function updateProgress() {
        progressBar.style.width = `${(video.currentTime / video.duration) * 100}%`;
      }
      </code></pre>
      <pre><code>
        <span>// Event Listeners</span>
      playBtn.addEventListener("click", togglePlay);
      video.addEventListener("click", togglePlay);
      <strong>video.addEventListener("timeupdate", updateProgress);
      <span>// эта строка для задания начального состояния</span>>
      video.addEventListener("canplay", updateProgress);</strong>
      </code></pre>
      <h2>Изменение текущего времени и общей продолжительности</h2>
      <pre><code>
        <span>// Progress Bar ---------------------------------- //</span>

      <span>// Calculate display time format</span>
      function <strong>displayTime(time)</strong> {
        let minutes = Math.floor(time / 60);
        let seconds = Math.floor(time % 60);
        minutes = minutes > 9 ? minutes : `0${minutes}`;
        seconds = seconds > 9 ? seconds : `0${seconds}`;
        console.log(`${minutes}:${seconds}`);
      }

      <span>// Update progress bar as video plays</span>
      function updateProgress() {
        progressBar.style.width = `${(video.currentTime / video.duration) * 100}%`;
        <strong>displayTime(64);</strong><span>// позже удалю</span>
      }
      </code></pre>
      <p>Вывод данных на страницу</p>
      <pre><code>
      function updateProgress() {
        progressBar.style.width = `${(video.currentTime / video.duration) * 100}%`;
        <strong>currentTime.textContent = `${displayTime(video.currentTime)} /`;</strong>
        <strong>duration.textContent = `${displayTime(video.duration)}`;</strong>
      }
      </code></pre>
      <h2>Клик на progress bar</h2>
      <pre><code>
      <span>// Event Listeners</span>
       ...  
      progressRange.addEventListener("click", setProgress);
      </code></pre>
      <pre><code>
      <span>// Click to seek within the video</span>
      function setProgress(e){
        console.log(e)
      }
      // клики и смотреть на свойство offsetX
      // и  на свойство offsetWidth. Оно статично.
      </code></pre>
      <div class="alert">
        <p>
          Свойство <code><strong>MouseEvent</strong>>.offsetX</code>, доступное
          только для чтения, показывает отступ курсора мыши по оси
          <code>X</code> от края целевого DOM узла.
        </p>
      </div>
      <div class="alert">
        <p>
          Свойство
          <code><strong>HTMLElement</strong>.offsetWidth</code> возвращает
          ширину элемента.
        </p>
      </div>
      <pre><code>
      function setProgress(e) {
        const newTime = e.offsetX / progressRange.offsetWidth;
        progressBar.style.width = `${newTime * 100}%`;
        video.currentTime = newTime * video.duration;
      }
      </code></pre>
      <h2>Change volume bar</h2>
      <p>Input video <code>Car Racing (1080P)</code></p>
      <pre><code>
        <span>// Volume Controls --------------------------- //</span>
        <span>// Volume Bar</span>
        function changeVolume(e) {
          let volume = e.offsetX / volumeRange.offsetWidth;
          console.log(volume);
        }

        <span>// Event Listeners</span>
        volumeRange.addEventListener("click", changeVolume);
      </code></pre>

      <!-- end -->
    </div>
  </body>
</html>
