<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor book keeper</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h2>Start</h2>
      <p>
        Чтобы получить ссылку на видео: идти на сайт
        <code>pixabay.com/video</code> , выбрать видео, нажать на
        <code>free download</code> выбрать разрешение <code>1280</code> и ПКМ на
        <code>download</code> и <code>"копировать адрес ссылки"</code>
      </p>
      <p>
        Паттерн для body на
        <a class="link" href="https://www.heropatterns.com/">heropatterns</a>
      </p>
      <div class="alert">
        <p>
          <code>playsinline</code>:логический атрибут элемента
          <code>video</code>. Экраны устройств использующих Android или iOS
          довольно маленькие, поэтому при просмотре video на браузере данных
          устройств, оно автоматически воспроизводит video в полноэкранном
          режиме (Fullscreen). Атрибут <code>playsinline</code> является видом
          boolean, он помогает браузеру предотвратить действие выше.
        </p>
      </div>
      <div class="alert">
        <p>
          Свойство <code>CSS</code> <code>transition</code> - это сокращенное
          свойство для <code>transition-property</code>,
          <code>transition-duration</code>,
          <code>transition-timing-function</code>, и
          <code>transition-delay</code>.
        </p>
      </div>
      <div class="alert">
        <p>
          <code>position: relative</code> Относительное позиционирование
          сдвигает элемент относительно его обычного положения. Для того, чтобы
          применить относительное позиционирование, необходимо указать элементу
          CSS-свойство position: relative и координаты
          <code>left/right/top/bottom.</code>
        </p>
      </div>
      <div class="alert">
        <p>
          <code>Transition</code> описывает переход в определённое
          состояние.Каждый одно-свойственный <code>transition</code> описывает
          переход, который должен быть применён к одному свойству (или
          специальным значениям <code>all</code> и <code>none</code>).
        </p>
      </div>
      <h2>Получить данные DOM</h2>
      <pre><code>
      const player = document.querySelector(".player");
      const video = document.querySelector(".video");
      const progressRange = document.querySelector(".progress-range");
      const progressBar = document.querySelector(".progress-bar");
      const playBtn = document.getElementById("play-btn");
      const volumeIcon = document.getElementById("volume-icon");
      const volumeRange = document.querySelector(".volume-range");
      const volumeBar = document.querySelector(".volume-bar");
      const speed = document.querySelector(".player-speed");
      const currentTime = document.querySelector(".time-elapsed");
      const duration = document.querySelector(".time-duration");
      const fullscreenBtn = document.querySelector(".fullscreen");
      </code></pre>
      <a class="link" href="https://www.w3schools.com/tags/ref_av_dom.asp"
        >HTML Audio/Video DOM</a
      >
      <h2>Реализация запуска и паузы</h2>
      <pre><code>
        <span>// Play & Pause </span>
      function togglePlay() {
        if (video.paused) {
          video.play();
        } else {
          video.pause();
        }
      }
      <span>// Event Listeners</span>
      playBtn.addEventListener("click", togglePlay);
      video.addEventListener("click", togglePlay);
      </code></pre>
      <p>Первый клик - запуск, второй - пауза.</p>
      <h2>Изменение иконки паузы и запуска</h2>
      <pre><code>
      function togglePlay() {
        if (video.paused) {
          video.play();
          playBtn.classList.replace("fa-play", "fa-pause");
          playBtn.setAttribute("title", "Pause");
        } else {
          video.pause();
          playBtn.classList.replace("fa-pause", "fa-play");
          playBtn.setAttribute("title", "Play");
        }
      }
      </code></pre>
      <h2>Показать кнопку play при окончании видео</h2>
      <pre><code>
        <strong>function showPlayIcon() {
          playBtn.classList.replace("fa-pause", "fa-play");
          playBtn.setAttribute("title", "Play");
        }</strong>
        function togglePlay() {
          if (video.paused) {
            video.play();
            playBtn.classList.replace("fa-play", "fa-pause");
            playBtn.setAttribute("title", "Pause");
          } else {
            video.pause();
            <span>// инструкции вынесены в отдельную функцию</span>
            <span>из-за последующего исп-ия в ивенте</span>
            <strong>showPlayIcon();</strong>
          }
        }
        <span>// On video end show play button icon</span>
        <strong>video.addEventListener("ended", showPlayIcon);</strong>
      </code></pre>
      <h2>Progress Bar</h2>
      <div class="alert">
        <p>
          Свойство <code>currentTime</code> устанавливает или возвращает текущую
          позицию (в секундах) воспроизведения аудио / видео. При установке
          этого свойства воспроизведение переместится в указанную позицию.
        </p>
        <hr />
        <p>
          <code>duration</code>возвращает длину текущего аудио / видео (в
          секундах).
        </p>
        <hr />
        <p>
          <code>timeupdate</code> срабатывает при изменении текущей позиции
          воспроизведения
        </p>
        <hr />
        <p>
          <code>canplay</code>срабатывает, когда браузер может начать
          воспроизведение аудио / видео
        </p>
      </div>
      <a class="link" href="https://www.w3schools.com/tags/ref_av_dom.asp"
        >w3schools.com: currentTime & duration & timeupdate & canplay</a
      >
      <pre><code>
      <span>// Event Listeners</span>
      playBtn.addEventListener("click", togglePlay);
      video.addEventListener("click", togglePlay);
      <strong>video.addEventListener("timeupdate", updateProgress);
      video.addEventListener("canplay", updateProgress);</strong>
      </code></pre>

      <pre><code>
      <span>// Progress Bar ---------------------------------- //</span>

      <span>// Update progress bar as video plays</span>
      function updateProgress() {
        console.log(
          "Current time: ",
          video.currentTime,
          "duration: ",
          video.duration
        );
      }
      </code></pre>
      <p>Теперь менять полоску произведения</p>
      <pre><code>
      function updateProgress() {
        progressBar.style.width = `${(video.currentTime / video.duration) * 100}%`;
      }
      </code></pre>
      <pre><code>
        <span>// Event Listeners</span>
      playBtn.addEventListener("click", togglePlay);
      video.addEventListener("click", togglePlay);
      <strong>video.addEventListener("timeupdate", updateProgress);
      <span>// эта строка для задания начального состояния</span>>
      video.addEventListener("canplay", updateProgress);</strong>
      </code></pre>
      <h2>Изменение текущего времени и общей продолжительности</h2>
      <pre><code>
        <span>// Progress Bar ---------------------------------- //</span>

      <span>// Calculate display time format</span>
      function <strong>displayTime(time)</strong> {
        let minutes = Math.floor(time / 60);
        let seconds = Math.floor(time % 60);
        minutes = minutes > 9 ? minutes : `0${minutes}`;
        seconds = seconds > 9 ? seconds : `0${seconds}`;
        console.log(`${minutes}:${seconds}`);
      }

      <span>// Update progress bar as video plays</span>
      function updateProgress() {
        progressBar.style.width = `${(video.currentTime / video.duration) * 100}%`;
        <strong>displayTime(64);</strong><span>// позже удалю</span>
      }
      </code></pre>
      <p>Вывод данных на страницу</p>
      <pre><code>
      function updateProgress() {
        progressBar.style.width = `${(video.currentTime / video.duration) * 100}%`;
        <strong>currentTime.textContent = `${displayTime(video.currentTime)} /`;</strong>
        <strong>duration.textContent = `${displayTime(video.duration)}`;</strong>
      }
      </code></pre>
      <h2>Клик на progress bar</h2>
      <pre><code>
      <span>// Event Listeners</span>
       ...  
      progressRange.addEventListener("click", setProgress);
      </code></pre>
      <pre><code>
      <span>// Click to seek within the video</span>
      function setProgress(e){
        console.log(e)
      }
      // клики и смотреть на свойство offsetX
      // и  на свойство offsetWidth. Оно статично.
      </code></pre>
      <div class="alert">
        <p>
          Свойство <code><strong>MouseEvent</strong>>.offsetX</code>, доступное
          только для чтения, показывает отступ курсора мыши по оси
          <code>X</code> от края целевого DOM узла.
        </p>
      </div>
      <div class="alert">
        <p>
          Свойство
          <code><strong>HTMLElement</strong>.offsetWidth</code> возвращает
          ширину элемента.
        </p>
      </div>
      <pre><code>
      function setProgress(e) {
        const newTime = e.offsetX / progressRange.offsetWidth;
        progressBar.style.width = `${newTime * 100}%`;
        video.currentTime = newTime * video.duration;
      }
      </code></pre>
      <h2>Change volume bar</h2>
      <p>Input video <code>Car Racing (1080P)</code></p>
      <pre><code>
        <span>// Volume Controls --------------------------- //</span>
        <span>// Volume Bar</span>
        function changeVolume(e) {
          let volume = e.offsetX / volumeRange.offsetWidth;
          console.log(volume);
        }

        <span>// Event Listeners</span>
        volumeRange.addEventListener("click", changeVolume);
      </code></pre>
      <p>Click and watch..</p>
      <a href="https://www.w3schools.com/tags/ref_av_dom.asp" class="link"
        >volume prop</a
      >
      <div class="alert">
        <p>
          <code>volume</code>. Sets or returns the volume of the audio/video
        </p>
      </div>
      <pre><code>
      function changeVolume(e) {
        let volume = e.offsetX / volumeRange.offsetWidth;
        if (volume < 0.1) {
          volume = 0;
        }
        if (volume > 0.9) {
          volume = 1;
        }
        volumeBar.style.width = `${volume * 100}%`;
        video.volume = volume;
        console.log(volumeBar.style.width);
      }
      </code></pre>
      <h2>Change icon depending on volume</h2>
      <pre><code>
      function changeVolume(e) {
        ... 
        // Change icon depending on volume
        volumeIcon.className = ""; <span>// remove icon & volume bar</span>
      }
      </code></pre>
      <div class="alert">
        <p>
          Свойство <code>className</code> отвечает за значение атрибута class
          элемента.
        </p>
        <p>
          <code>elem.className = cName</code>; <code>cName</code> - строка. Если
          нужно указать несколько классов, они указываются через пробел.
        </p>
      </div>
      <div class="alert">
        <p>
          Свойство <code>classList</code> возвращает псевдомассив DOMTokenList,
          содержащий все классы элемента.
        </p>
        <p>
          <code>var elementClasses = elem.classList;</code> Результат -
          псевдомассив <code>DOMTokenList</code>, содержащий все классы узла
          <code>elem</code>
        </p>
      </div>
      <div class="alert">
        <p>
          <strong
            ><code>ClassList</code> является геттером с методами:
            <code>add</code>, <code>remove</code>, <code>item</code>,
            <code>toggle</code>, <code>contains</code></strong
          >
        </p>
      </div>
      <pre><code>
      function changeVolume(e) {
        let volume = e.offsetX / volumeRange.offsetWidth;
        if (volume < 0.1) {
          volume = 0;
        }
        if (volume > 0.9) {
          volume = 1;
        }
        volumeBar.style.width = `${volume * 100}%`;
        video.volume = volume;
        console.log(volumeBar.style.width);
        <span>// Change icon depending on volume</span>
        volumeIcon.className = "";
        if (volume > 0.7) {
          volumeIcon.classList.add("fas", "fa-volume-up");
        } else if (volume < 0.7 && volume > 0) {
          volumeIcon.classList.add("fas", "fa-volume-down");
        } else if (volume === 0) {
          volumeIcon.classList.add("fas", "fa-volume-off");
        }
      }
      </code></pre>
      <h2>Icon Volume(mute/unmute)</h2>
      <pre><code>
      <span>// Volume Controls -------- //</span>
      <span>по-видимому чтобы значение volume вынести в глобальную обл видимости</span>
      let lastVolume = 1;

      <span>// Volume Bar</span>
      function changeVolume(e) {
        .. 
        lastVolume = volume;
      }
      <span>// Mute/Unmute</span>
      function toggleMute() {
        if (video.volume) {
          <span>//чтобы сохранить уровень громкости</span>
          lastVolume = video.volume;
          video.volume = 0;
          volumeBar.style.width = 0;
        } else {
          video.volume = lastVolume;
          volumeBar.style.width = `${lastVolume * 100}%`;
        }
      }
      .. 
      volumeIcon.addEventListener("click", toggleMute);
      </code></pre>
      <p>Now change valume and click on the icon value: is working</p>
      <p>Now change icon:</p>
      <pre><code>
      function toggleMute() {
        volumeIcon.className = "";
        if (video.volume) {
          lastVolume = video.volume;
          video.volume = 0;
          volumeBar.style.width = 0;
          <strong>volumeIcon.classList.add("fas", "fa-volume-mute");
          volumeIcon.setAttribute("title", "Unmute");</strong>
        } else {
          video.volume = lastVolume;
          volumeBar.style.width = `${lastVolume * 100}%`;
          <strong> volumeIcon.classList.add("fas", "fa-volume-up");
          volumeIcon.setAttribute("title", "Mute");</strong>
        }
      }
      </code></pre>
      <div class="alert">
        <p>
          Почему метод <code>replace</code> работает на псевдомассиве
          <code>classList</code>:
        </p>
        <a
          class="link"
          href="https://developer.mozilla.org/ru/docs/Web/API/DOMTokenList"
          >MDN</a
        >
      </div>
      <h2>Изменение скорости воспроизведения</h2>
      <div class="alert">
        <p>
          <code>HTMLMediaElement.defaultPlaybackRate</code> указывает скорость
          воспроизведения по умолчанию для мультимедиа.
        </p>
        <h3>Синтаксис:</h3>
        <p>
          <code>var obj = document.createElement('video');</code><br />
          <code>console.log(obj.defaultPlaybackRate); </code>// 1
        </p>
      </div>
      <div class="alert">
        <p>
          Свойство <code>HTMLMediaElement.playbackRate</code> устанавливает или
          возвращает скорость воспроизведения мультимедиа.
        </p>
        <h3>Синтаксис:</h3>
        <p>
          // video<br />
          <code>video.playbackRate = 1.5;</code><br />
          // audio <br />
          <code>audio.playbackRate = 1.0;</code>
        </p>
      </div>
      <pre><code>
        <span>// Change Playback Speed ------ //</span>

      function changeSpeed() {
        console.log("video playback rate: ", video.playbackRate);
        console.log("selected value: ", speed.value);
      }
      <span>// Event Listeners</span>
      speed.addEventListener("change", changeSpeed);
      </code></pre>
      <p>go click!</p>
      <pre><code>
      function changeSpeed() {
        <strong>video.playbackRate = speed.value;</strong>
      }
      </code></pre>
      <p>Работает!</p>
      <h2>Fullscreen functionality</h2>
      <a
        class="link"
        href="https://www.w3schools.com/howto/howto_js_fullscreen.asp"
        >How TO - Fullscreen</a
      >
      <p>
        Скопироваить код из примера по ссылке, добавив в функция
        <code>openFullscreen(elem) </code>параметр <code>elem</code>
      </p>
      <pre><code>
        <span>// Fullscreen ------------- //</span>
      <span>/* View in fullscreen */</span>
      function openFullscreen(<strong>elem</strong>) {
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
          /* Firefox */
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
          /* Chrome, Safari and Opera */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          /* IE/Edge */
          elem.msRequestFullscreen();
        }
      }

      <span>/* Close fullscreen */</span>
      function closeFullscreen() {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
          /* Firefox */
          document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
          /* Chrome, Safari and Opera */
          document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
          /* IE/Edge */
          document.msExitFullscreen();
        }
      }
      <strong>let fullscreen = false;</strong>
      <span>// Toggle Fullscreen</span>
      <strong>function toggleFullscreen() {
        if (!fullscreen) {
          openFullscreen(player);
        } else {
          closeFullscreen();
        }
        fullscreen = !fullscreen;
      }</strong>
      </code></pre>
      <p>Нужно класс добавить, т.к в маленьком масштабе некрасиво</p>
      <pre><code>
      function openFullscreen(elem) {
        .. 
        <strong>video.classList.add("video-fullscreen");</strong>
      }
      function closeFullscreen() {
        .. 
        <strong>video.classList.remove("video-fullscreen");</strong>
      }
      </code></pre>
      <!-- end -->
    </div>
  </body>
</html>
