<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor book keeper</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h2>Start</h2>
      <p>
        Код в <code>div class="container"</code> будет добавлятся JS-скриптом.
      </p>
      <div class="alert">
        <p>
          Свойство CSS <code>vertical-align</code> описывает вертикальное
          позиционирование строчных элементов (inline) или ячеек таблицы
          (table-cell).
        </p>
        <p>
          <code>sub</code>: Выравнивает базовую линию элемента с базовой линией
          подстрочного индекса своего родителя.
        </p>
        <p>
          <code>middle</code>: Выравнивает середину элемента с базовой линией
          своего родителя плюс половина от его высоты (x-height).
        </p>
      </div>
      <p><code>vertical-align: sub</code> к картинке выравняло её со ссылкой</p>
      <p>
        Для спрятанного модального окна с <code>display:none</code> приготовлен
        класс:
      </p>
      <pre><code>
        .show-modal {
          <strong>display: flex;</strong>
          align-items: center;
          justify-content: center;
        }
      </code></pre>
      <p>Вначале плучить все элементы:</p>
      <pre><code>
      const modal = document.getElementById('modal');
      const modalShow = document.getElementById('show-modal');
      const modalClose = document.getElementById('close-modal');
      const bookmarkForm = document.getElementById('bookmark-form');
      const websiteNameEl = document.getElementById('website-name');
      const websiteUrlEl = document.getElementById('website-url');
      const bookmarksContainer = document.getElementById('bookmarks-container');
      </code></pre>
      <div class="alert">
        <p>
          Методы <code>elem.focus()</code> и
          <code>elem.blur()</code> устанавливают/снимают фокус.
        </p>
      </div>
      <pre><code>
      function showModal() {
        modal.classList.add("show-modal");
        websiteNameEl.focus();
      }
      modalShow.addEventListener("click", showModal);
      modalClose.addEventListener("click", () =>
        modal.classList.remove("show-modal")
      );
      </code></pre>
      <div class="alert">
        <p><code>modal.remove("show-modal")</code> удалит сам элемент из DOM</p>
      </div>
      <p>
        Дабавить также событие
        <code>window.addEventListener("click", (e) => console.log(e));</code>
      </p>
      <p>
        Кликнуть куда-нибудь на документе и посмотреть на свойство
        <code>target</code>
      </p>
      <div class="alert">
        <p>
          JavaScript свойство <code>target</code> объекта
          <code>Event</code> ссылается на объект, который отправил событие.
          Свойство доступно только для чтения.
        </p>
      </div>

      <!-- end -->
    </div>
  </body>
</html>
