<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor book keeper</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h2>Start</h2>
      <p>
        Код в <code>div class="container"</code> будет добавлятся JS-скриптом.
      </p>
      <div class="alert">
        <p>
          Свойство CSS <code>vertical-align</code> описывает вертикальное
          позиционирование строчных элементов (inline) или ячеек таблицы
          (table-cell).
        </p>
        <p>
          <code>sub</code>: Выравнивает базовую линию элемента с базовой линией
          подстрочного индекса своего родителя.
        </p>
        <p>
          <code>middle</code>: Выравнивает середину элемента с базовой линией
          своего родителя плюс половина от его высоты (x-height).
        </p>
      </div>
      <p><code>vertical-align: sub</code> к картинке выравняло её со ссылкой</p>
      <p>
        Для спрятанного модального окна с <code>display:none</code> приготовлен
        класс:
      </p>
      <pre><code>
        .show-modal {
          <strong>display: flex;</strong>
          align-items: center;
          justify-content: center;
        }
      </code></pre>
      <p>Вначале плучить все элементы:</p>
      <pre><code>
      const modal = document.getElementById('modal');
      const modalShow = document.getElementById('show-modal');
      const modalClose = document.getElementById('close-modal');
      const bookmarkForm = document.getElementById('bookmark-form');
      const websiteNameEl = document.getElementById('website-name');
      const websiteUrlEl = document.getElementById('website-url');
      const bookmarksContainer = document.getElementById('bookmarks-container');
      </code></pre>
      <div class="alert">
        <p>
          Методы <code>elem.focus()</code> и
          <code>elem.blur()</code> устанавливают/снимают фокус.
        </p>
      </div>
      <pre><code>
      function showModal() {
        modal.classList.add("show-modal");
        websiteNameEl.focus();
      }
      modalShow.addEventListener("click", showModal);
      modalClose.addEventListener("click", () =>
        modal.classList.remove("show-modal")
      );
      </code></pre>
      <div class="alert">
        <p><code>modal.remove("show-modal")</code> удалит сам элемент из DOM</p>
      </div>
      <p>
        Дабавить также событие
        <code>window.addEventListener("click", (e) => console.log(e));</code>
      </p>
      <p>
        Кликнуть куда-нибудь на документе и посмотреть на свойство
        <code>target</code>. Затем написать <code>console.log(e.target)</code>.
      </p>
      <div class="alert">
        <p>
          JavaScript свойство <code>target</code> объекта
          <code>Event</code> ссылается на объект, который отправил событие.
          Свойство доступно только для чтения.
        </p>
      </div>
      <p>
        При вызове модального окна и клике за пределами самого окошка получаю
        <code>target: div#modal.modal-container.show-modal</code>
      </p>
      <p>Поэтому</p>
      <pre><code>
      window.addEventListener('click', (e) => 
      (e.target === modal ? modal.classList.remove('show-modal') : false));
      </code></pre>
      <h2>Валидация формы</h2>
      <p>
        <code>bookmarkForm.addEventListener('submit', storeBookmark);</code>
      </p>
      <pre><code>
      <span>// Handle data from form</span>
      function storeBookmark(e) {
        e.preventDefault();
        console.log(websiteNameEl.value, websiteUrlEl.value);
      }
      <span>// Event Listener</span>
      bookmarkForm.addEventListener("submit", storeBookmark);
      </code></pre>
      <div class="alert">
        <p>
          Метод <code>array.includes()</code> определяет, содержит ли массив
          определённый элемент, возвращая в зависимости от этого
          <code>true</code> или <code>false</code>.
        </p>
        <p>
          Метод <code>string.includes()</code> проверяет, содержит ли строка
          заданную подстроку, и возвращает, соответственно,
          <code>true</code> или <code>false</code>.
        </p>
      </div>
      <pre><code>
      function storeBookmark(e) {
        e.preventDefault();
        let nameValue = websiteNameEl.value;
        let urlValue = websiteUrlEl.value;
        <span>// Инструкция ниже чтобы можно ввести имя хоста без названия протокола</span>
        if (urlValue.includes("http")) {
          urlValue = `https://${urlValue}`;
        }
        <span>//Валидация данных</span>        
        if (!validate(nameValue, urlValue)) {
          return false;
        }
      }
      </code></pre>
      <p>Метод includes() работает с одним аргументом(по идее нужно http:// & https://)</p>
      <a class="link" href="https://stackoverflow.com/questions/37896484/multiple-conditions-for-javascript-includes-method">Варианты с двумя аргументами</a>
      <p>Напишу ф-ию <code>validate(nameValue, urlValue)</code></p>
      <a 
        href="https://stackoverflow.com/questions/3809401/what-is-a-good-regular-expression-to-match-a-url"
        class="link"
        >What is a good regular expression to match a URL</a
      >
      <a href="https://regexr.com/" class="link">Онлайн тренажёр</a>
      <pre><code>
      function validate(nameValue, urlValue) {
        let expression = /(https)?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]
        {1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&//=]*)/g;
        let regex = new RegExp(expression);
        if (!nameValue || !urlValue) {
          alert("Please provide a valid web address");
          return false;
        }
        if (!urlValue.match(regex)) {
          alert('Please provide a valid web address.');
          return false;
        }
        <span>// If valid</span>
        return true;
      }
      </code></pre>
      <h2>Window.localStorage</h2>
      <a
        class="link"
        href="https://developer.mozilla.org/ru/docs/Web/API/Window/localStorage"
        target="_blank"
        >Window.localStorage MDN</a
      >
      <pre><code>
        <strong>let bookmarks = [];</strong>
        ... 
        function storeBookmark(e) {
          e.preventDefault();
          let nameValue = websiteNameEl.value;
          let urlValue = websiteUrlEl.value;
          if (urlValue.includes("http://", "https://")) {
            urlValue = `https://${urlValue}`;
          }
          // Validate
          if (!validate(nameValue, urlValue)) {
            return false;
          }
         <strong> const bookmark = {
            name: nameValue,
            url: urlValue,
          };
          bookmarks.push(bookmark);
          websiteNameEl.focus();
          console.log(bookmarks);        
        </strong>
        }
      </code></pre>
      <div class="alert">
        <p>
          Метод <code>HTMLFormElement.reset()</code> восстанавливает стандартные
          значения всем элементам формы. Данный метод выполняет действие
          идентичное нажатию кнопки имеющей тип <code>reset</code>.
        </p>
      </div>
      <p>Заполню форму и нажму кнопку</p>
      <pre><code>
      { ....
      bookmarks.push(bookmark);
      console.log(bookmarks);
      <span>// Set bookmarks in localStorage, fetch, reset input fields</span>
      <strong>localStorage.setItem("bookmarks", JSON.stringify(bookmarks));</strong>
      bookmarkForm.reset();
      websiteNameEl.focus();
    }
      </code></pre>
      <p>
        Смотрю в консоли в <code>Application</code> что там в
        <code>localStorage</code>..
      </p>
      <div class="alert">
        <p>
          Метод <code>JSON.stringify()</code> преобразует значение JavaScript в
          строку <code>JSON</code>
        </p>
      </div>
      <div class="alert">
        <p>
          Метод <code>JSON.parse()</code> разбирает строку <code>JSON</code>
        </p>
      </div>
      <pre><code>
        <span>// Fetch Bookmarks</span>
      function fetchBookmarks() {
        <span>// Get bookmarks from localStorage if available</span>
        if (localStorage.getItem("bookmarks")) {
          bookmarks = JSON.parse(localStorage.getItem("bookmarks"));
        } else {
          bookmarks = [
            {
              name: "Jorgen",
              url: "https://www.google.com/",
            },
          ];
          localStorage.setItem("bookmarks", JSON.stringify(bookmarks));
        }
      }
      ... 
      <strong>function storeBookmark(e)</strong> {
      ... 
      <span>// Set bookmarks in localStorage, fetch, reset input fields</span>
      localStorage.setItem("bookmarks", JSON.stringify(bookmarks));
      <strong>fetchBookmarks();</strong>
      bookmarkForm.reset();
      websiteNameEl.focus();
      }
      <span>// Event Listener</span>
      bookmarkForm.addEventListener('submit', storeBookmark);

      <span>// On Load, Fetch Bookmarks</span>
      fetchBookmarks();

      </code></pre>
      <div class="alert">
        <p><code>fetch</code> - получать</p>
      </div>
      <p>
        Очистить localStorage и перезагрузить страницу - появится <code>
        Очистить localStorage и перезагрузить страницу - появится   [{name:
          "Jorgen", url: "https://www.google.com/"}]
        </p>
        Очистить localStorage и перезагрузить страницу - появится </code>
        <h2>Создание элементов на странице</h2>
        <pre><code>
        function fetchBookmarks() {
          <span>// Get bookmarks from localStorage if available</span>
          if (localStorage.getItem("bookmarks")) {
            bookmarks = JSON.parse(localStorage.getItem("bookmarks"));
          } else {
            bookmarks = [
              {
                name: "Jorgen",
                url: "https://www.google.com/",
              },
            ];
            localStorage.setItem("bookmarks", JSON.stringify(bookmarks));
          }
          <strong>buildBookmarks();</strong>
        }
        </code></pre>
        <p>Создание самой функции</p>
        <pre><code>
        <span>// Build Bookmarks DOM</span>
        function buildBookmarks() {
        <span>// Build items</span>
          bookmarks.forEach((bookmark) => {
            const { name, url } = bookmark;
            console.log(name, url);
          });
        }
        </code></pre>
        <p>Введи данные и глянь консоль</p>
        <div class="alert">
          <p>Обработчики <code>on<i>event</i></code> - это свойства определенных элементов DOM, позволяющие управлять тем, как этот элемент реагирует на события.</p>
          <p>Обработчик <code>on-event</code> обычно называется с именем события, на которое он реагирует, например <code>on<i>click</i></code> , <code>on<i>keypress</i></code> , <code>on<i>focus</i></code> и т. д.</p>
        </div>
        <div class="alert">
          <p>Метод <code>parentNode.append()</code> вставляет набор объектов <code>Node</code> или объектов <code>DOMString</code> после последнего дочернего элемента родительского узла</p>
        </div>
        <pre><code>
        // Build Bookmarks DOM
        function buildBookmarks() {
          <span>// Build items</span>
          bookmarks.forEach((bookmark) => {
            const { name, url } = bookmark;
            <span>// Item</span>
            const item = document.createElement("div");
            item.classList.add("item");
            <span>// Close Icon</span>
            const closeIcon = document.createElement("i");
            closeIcon.classList.add("fas", "fa-times");
            closeIcon.setAttribute("title", "Delete Bookmark");
            closeIcon.setAttribute("onclick", `deleteBookmark('${url}')`);
            <span>// Favicon & Link container</span>
            const linkInfo = document.createElement("div");
            linkInfo.classList.add("name");
            <span>// Favicon</span>
            const favicon = document.createElement("img");
            favicon.setAttribute(
              "src",
              `https://s2.googleusercontent.com/s2/favicons?domain=${url}`
            );
            favicon.setAttribute("alt", "Favicon");
            <span>// Link</span>
            const link = document.createElement("a");
            link.setAttribute("href", `${url}`);
            link.setAttribute("target", "_blank");
            link.textContent = name;
            <span>// Append to bookmarks container</span>
            linkInfo.append(favicon, link);
            item.append(closeIcon, linkInfo);
            bookmarksContainer.appendChild(item);
          });
        }
        </code></pre>
      <p>Получаю доп элементы. Теперь ещё их нужно научить удаляться.</p>
      <h2>Delete Bookmarks</h2>
      <pre><code>
        <span>// Delete Bookmark</span>
      function deleteBookmark(url) {
        console.log("del URL: ", url);
      }
      </code></pre>
      <p>В <code>buildBookmarks()</code>создаю элементы с атрибутом <code>onclick</code> и функцией <code>deleteBookmark</code></p>
      <p>Поэтому нажать на крестик удаления и в консоли получу <code>url</code></p>
    <div class="alert">
      <p>Метод <code>splice()</code> изменяет содержимое массива, удаляя существующие элементы и/или добавляя новые.</p>
      <p>Возвращаемое значение: массив, содержащий удалённые элементы. Если будет удалён только один элемент, вернётся массив из одного элемента. Если никакие элементы не будут удалены, вернётся пустой массив.</p>
    </div>
    <pre><code>
      <span>// Delete Bookmark</span>
    function deleteBookmark(url) {
      <span>// Loop through the bookmarks array</span>
      bookmarks.forEach((bookmark, i) => {
        if (bookmark.url === url) {
          bookmarks.splice(i, 1);
        }
      });
      // Update bookmarks array in localStorage, re-populate DOM
      localStorage.setItem("bookmarks", JSON.stringify(bookmarks));
      fetchBookmarks();
    }
    </code></pre>
    <p>Но сейчас при нажатии на удаление добавляются ещё элементы, хотя в bookmarks всё ок</p>
<p>Проблема решается добавлением строки <code>bookmarksContainer.textContent = ''</code>в функцию <code>buildBookmarks()</code></p>




      <!-- end -->
    </div>
  </body>
</html>
