<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music player</title>
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="wrapper">
        <!-- video background -->
        <video class="video-background" id="video-background" loop muted autoplay>
            <source src="./time.mp4"></source>
        </video>
        <div class="video-overlay"></div>
        <!-- Container  -->
        <div class="container">
            <!-- Input -->
            <div class="input-container" id="input-container">
                <h1>Create a Custom Countdown</h1>
                <form class="form" id="countdownForm">
                    <label for="title">Title</label>
                    <input type="text" id="title" placeholder="What are you counting down to?">
                    <label for="date-picker">Select a Data</label>
                    <input type="date" id="date-picker">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <!-- Countdown  -->
            <div class="countdown" id="countdown" hidden>
                <h1 id="countdown-title"></h1>
                <ul>
                    <li><span></span>Days</li>
                    <li><span></span>Hours</li>
                    <li><span></span>Minutes</li>
                    <li><span></span>Seconds</li>
                </ul>
                <button id="countdown-button">RESET</button>
            </div>
            <!-- Complite  -->
            <div class="complite" id="complite" hidden>
                <h1 class="complete-title">Countdown Complete!</h1>
                <h1 id="complete-info"></h1>
                <button id="complete-button">NEW COUNTDOWN</button>
            </div>
        </div>
    </div>
    
    
    <!-- my content -->
    <div class="my-wrapper">
        <h2>Start</h2>
        <pre><code>
        const countdownForm = document.getElementById('countdownForm');
        const inputContainer = document.getElementById('input-container');
        const dateEl = document.getElementById('date-picker');
        </code></pre>
        <h3>Про элемент DATE</h3>
        <a href="https://developer.mozilla.org/uk/docs/Web/HTML/Element/input/date" class="link">MDN about input type="date"</a>
        <a class="link" href="https://www.w3schools.com/jsref/jsref_obj_date.asp">w3schools about date object</a>
        <div class="alert">
            <p>Метод <code>toISOString()</code> возвращает строку в формате ISO (расширенный формат ISO 8601), который можно описать следующим образом: <code>YYYY-MM-DDTHH:mm:ss.sssZ.</code></p>
        </div>
        <pre><code>
        let today = new Date().toISOString().split("T")
        console.log(today)<span>// ["2020-08-17", "10:39:10.775Z"]</span>
        </code></pre>
        <p>Поэтому:</p>
        <pre><code>
        <span>// Set Date Input Min & Value with Today's Date</span>
        const today = new Date().toISOString().split('T')[0];
        dateEl.setAttribute('min', today);
        </code></pre>
        <h2>Form value</h2>
        <p>На элемент <code>form</code> вешаю событие</p>
        <pre><code>
        <span>// Take value from Input</span>
        function updateCountdown(e) {
            e.preventDefault();
            console.log(e)
        }
        <span>// Event Listener</span>
        countdownForm.addEventListener('submit', updateCountdown);
        </code></pre>
        <p>У <code>event</code> покажет свойство <code>srcElement</code> в котором ключи  - элементы формы: </p>
        <pre><code>
        0: input#title
        1: input#date-picker
        2: button
        </code></pre>
        <p>Поэтому ввожу переменные  <code>countdownTitle = "";  countdownDate = "";</code></p>
        <pre><code>
        function updateCountdown(e) {
            e.preventDefault();
            <span>// Set title and date, save to localStorage</span>
            countdownTitle = e.srcElement[0].value;
            countdownDate = e.srcElement[1].value;
            savedCountdown = {
                title: countdownTitle,
                date: countdownDate,
            };
            localStorage.setItem('countdown', JSON.stringify(savedCountdown));
        }
        </code></pre>
        <div class="alert">
            <p>Метод <code>JSON.stringify()</code> берёт объект и преобразует его в строку.</p>
        </div>

    </div>


    <script src="./main.js"></script>
</body>

</html>