<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor custom countdown</title>
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="./myStyle.css">
</head>
<body>
     <!-- my content -->
     <div class="wrapper" >
        <h2>Start</h2>
        <pre><code>
        const countdownForm = document.getElementById('countdownForm');
        const inputContainer = document.getElementById('input-container');
        const dateEl = document.getElementById('date-picker');
        </code></pre>
        <h3>Про элемент DATE</h3>
        <a href="https://developer.mozilla.org/uk/docs/Web/HTML/Element/input/date" class="link">MDN about input type="date"</a>
        <a class="link" href="https://www.w3schools.com/jsref/jsref_obj_date.asp">w3schools about date object</a>
        <div class="alert">
            <p>Метод <code>toISOString()</code> возвращает строку в формате ISO (расширенный формат ISO 8601), который можно описать следующим образом: <code>YYYY-MM-DDTHH:mm:ss.sssZ.</code></p>
        </div>
        <pre><code>
        let today = new Date().toISOString().split("T")
        console.log(today)<span>// ["2020-08-17", "10:39:10.775Z"]</span>
        </code></pre>
        <p>Поэтому:</p>
        <pre><code>
        <span>// Set Date Input Min & Value with Today's Date</span>
        const today = new Date().toISOString().split('T')[0];
        dateEl.setAttribute('min', today);
        </code></pre>
        <h2>Form value</h2>
        <p>На элемент <code>form</code> вешаю событие</p>
        <pre><code>
        <span>// Take value from Input</span>
        function updateCountdown(e) {
            e.preventDefault();
            console.log(e)
        }
        <span>// Event Listener</span>
        countdownForm.addEventListener('submit', updateCountdown);
        </code></pre>
        <p>У <code>event</code> покажет свойство <code>srcElement</code> в котором ключи  - элементы формы: </p>
        <pre><code>
        0: input#title
        1: input#date-picker
        2: button
        </code></pre>
        <p>Поэтому ввожу переменные  <code>countdownTitle = "";  countdownDate = "";</code></p>
        <pre><code>
        function updateCountdown(e) {
            e.preventDefault();
            <span>// Set title and date, save to localStorage</span>
            countdownTitle = e.srcElement[0].value;
            countdownDate = e.srcElement[1].value;
            savedCountdown = {
                title: countdownTitle,
                date: countdownDate,
            };
            localStorage.setItem('countdown', JSON.stringify(savedCountdown));
        }
        </code></pre>
        <div class="alert">
            <p>Метод <code>JSON.stringify()</code> берёт объект и преобразует его в строку.</p>
        </div>
        <div class="alert">
            <p>Объекты <code>Date</code> основываются на значении количества <strong>миллисекунд</strong>, прошедших с 1 января 1970 года в часовом поясе UTC.</p>
        </div>
        <div class="alert">
            <p>Значение, возвращаемое методом <code>getTime</code>, равно количеству миллисекунд, прошедших с полуночи 1 января 1970 года GMT. Этот метод можно использовать для присвоения значения другому объекту <code>Date</code>.</p>
        </div>
        <p>Ввожу новую переменную...</p>
        <pre><code>
            let countdownValue = new Date() ;
    <span>//Важно показать каие данные будут в переменнои, поэтому присвоил <code>new Date()</code> хотя переменная с этим дефолтным значением не используется нигде</span>
    function updateCountdown(e) {
        e.preventDefault();
        countdownTitle = e.srcElement[0].value;
        countdownDate  = e.srcElement[1].value;

        countdownValue = new Date(countdownDate).getTime();
        
          }</span>    
        </code></pre>
        <h2>Вывод данных на страницу (countdawn UI)</h2>
        <pre><code>
        let countdownEl = document.getElementById('countdown');
        let countdownElTitle = document.getElementById('countdown-title');
        let countdownBtn = document.getElementById('countdown-button');
        let timeElements = document.querySelectorAll('span');
        </code></pre>

        <pre><code>
        function updateCountdown(e) {
            ..
                countdownValue = new Date(countdownDate).getTime();
                <strong>updateDOM()</strong>
                }
        }
        </code></pre>
        <pre><code>
        function updateDOM(){
            let now = new Date().getTime()
            let distance = countdownValue - now
            console.log(distance) <span>// разница введённого времени и на данный момент</span>
            
            }              
        </code></pre>
        <pre><code>
        const second = 1000; <span>// т.к в 1сек 1000 мс</span>
        const minute = second * 60;
        const hour = minute * 60;
        const day = hour * 24;
        </code></pre>
        <p>Теперь вывод данных</p>
        <pre><code>
        function updateDOM(){
            let now = new Date().getTime()
            let distance = countdownValue - now
            let days = Math.floor(distance/day)
            let hours = Math.floor((days % 24) / hour)
            let minutes = Math.floor((distance % hour) / minute)
            let seconds = Math.floor((distance % minute) / second)
            <span>// Populate Countdown</span>  
            completeElInfo.textContent = `${countdownTitle}`;
            timeElements[0].textContent = `${days}`
            timeElements[1].textContent = `${hours}`
            timeElements[2].textContent = `${minutes}`
            timeElements[3].textContent = `${seconds}`
            <span>// Hide Input</span>
            inputContainer.hidden = true;
            <span>// Show Countdown</span>
            completeEl.hidden = true;
            countdownEl.hidden = false;
            }
        <span>Ввести данные и нажать submit</span>
        </code></pre>
        <h2>SetInterval & clearInterval</h2>
        <p>Нужно реализовать изменение данных в UI</p>
        <a href="https://learn.javascript.ru/settimeout-setinterval" class="link">setTimeout & setInterval & clearInterval</a>
        <pre><code>
        let countdownActive; <span>для последующего сброса setInterval</span>
        <span>обернуть данные в ф-ии в setInterval:</span>
        function updateDOM(){
            countdownActive = setInterval(() => {
              let now = new Date().getTime()
            let distance = countdownValue - now
            let days = Math.floor(distance/day)
            let hours = Math.floor((days % 24) / hour)
            let minutes = Math.floor((distance % hour) / minute)
            let seconds = Math.floor((distance % minute) / second)
            <span>// Populate Countdown</span>  
            completeElInfo.textContent = `${countdownTitle}`;
            timeElements[0].textContent = `${days}`
            timeElements[1].textContent = `${hours}`
            timeElements[2].textContent = `${minutes}`
            timeElements[3].textContent = `${seconds}`
            <span>// Hide Input</span>
            inputContainer.hidden = true;
            <span>// Show Countdown</span>
            completeEl.hidden = true;
            countdownEl.hidden = false;
            }, second)
            
          }  
        </code></pre>
        <p>Ну, часики тикают!</p>
        <p>Реализация функционала кнопки reset</p>
        <pre><code>countdownBtn.addEventListener("click", reset)</code></pre>
        <p>Сама ф-ия</p>
        <pre><code>
        function reset() {
            // Hide countdowns, show input form
            countdownEl.hidden = true;
            
            inputContainer.hidden = false;
            // Stop the countdown
            clearInterval(countdownActive);
            // Reset values, remove localStorage item
            countdownTitle = '';
            countdownDate = '';            
        }
        </code></pre>
        <p>Теперь нужно исправить то, что при не введении данных и последующим нажатием <code>SUBMIT</code> будет расчёт данных и выведет <code>NaN</code></p>
        <pre><code>
        function updateCountdown(e) {
            e.preventDefault();
            countdownTitle = e.srcElement[0].value;
            countdownDate  = e.srcElement[1].value;
            <span>// Check for valid data</span>
                if(countdownDate === ""){
                alert("Please select of current data")
                }else{
                countdownValue = new Date(countdownDate).getTime();
                updateDOM()
                }
        }
        </code></pre>
        <h2>Finishing UI</h2>
        <pre><code>
        let completeEl = document.getElementById('complete');
        let completeElInfo = document.getElementById('complete-info');
        let completeBtn = document.getElementById('complete-button');   
        </code></pre>
        <code>
            <pre>
            function updateDOM(){
                countdownActive = setInterval(
                ..
                let seconds = Math.floor((distance % minute) / second)

                <span>// Hide Input</span>
                inputContainer.hidden = true;

                <span>// If the cowntdown has ended show complite</span>
                if(distance < 0){
                    countdownEl.hidden
                    clearInterval(countdownActive)
                    completeElInfo.textContent = `${countdownTitle} finished on ${countdownDate}`
                    completeEl.hidden = false;
                    }else{
                    completeElInfo.textContent = `${countdownTitle}`;
                    timeElements[0].textContent = `${days}`
                    timeElements[1].textContent = `${hours}`
                    timeElements[2].textContent = `${minutes}`
                    timeElements[3].textContent = `${seconds}`
                    completeEl.hidden = true
                    countdownEl.hidden = false
                }
            }, second)

            </pre>
        </code>
        <p>Теперь выбрать сегодняшнюю дату чтобы данные были меньше нуля и посмотреть результат</p>
        <p>Теперь реализовать кнопку newcountdown</p>
        <pre><code>completeBtn.addEventListener("click", reset)</code></pre>
        <pre><code>
        function reset() {
            <span>// Hide countdowns, show input form</span>
            countdownEl.hidden = true;
            <strong>completeEl.hidden = true;</strong>
            inputContainer.hidden = false;
            ..
        }
        </code></pre>
        <p>теперь сброс работает</p>
        <h2>Кэширование с localStorage</h2>
        <p>Ввожу переменную <code>let savedCountdown</code> и вставляю код в ф-ию <code>updateCountdown</code></p>
        <pre><code>
        countdownDate = e.srcElement[1].value;
        <strong>savedCountdown = {
            title: countdownTitle,
            date: countdownDate,
        };
        localStorage.setItem('countdown', JSON.stringify(savedCountdown));</strong>
        </code></pre>
        <pre><code>
        function reset() {
            <span>// Hide countdowns, show input form</span>
            countdownEl.hidden = true;
            completeEl.hidden = true;
            inputContainer.hidden = false;
            <span>// Stop the countdown</span>
            clearInterval(countdownActive);
            <span>// Reset values, remove localStorage item</span>
            countdownTitle = '';
            countdownDate = '';
            <strong>localStorage.removeItem('countdown');</strong>
            }
        </code></pre>
        <div class="alert">
            <p>Чтобы декодировать JSON-строку, нам нужен другой метод с именем <code>JSON.parse</code>.</p>
        </div>
        <pre><code>
        function restorePreviousCountdown() {
            <span>// Get countdown from localStorage if available</span>
            if (localStorage.getItem('countdown')) {
                inputContainer.hidden = true; 
                savedCountdown = JSON.parse(localStorage.getItem('countdown'));
                countdownTitle = savedCountdown.title;
                countdownDate = savedCountdown.date;
                countdownValue = new Date(countdownDate).getTime();
                updateDOM();
            }
        }
        </code></pre>
        <p>И в конце кода запустить эту функцию ,чтобы сработала при загрузке документа</p>

    </div>
</body>
</html>