<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href=" http://www.google.com/s2/favicons?domain=javascript20-projects">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
    <link rel="stylesheet" href="./style.css">
    <title>Quote generator</title>
</head>

<body>
    <h1>asd</h1>
    <script src="./scripts.js"></script>
</body>

</html>