<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css"> -->
    <link rel="stylesheet" href="./style.css">
    <title>Infinite Scroll</title>
</head>

<body>
    <div class="container">
        <h1>Unsplash API - Infinite Scroll.</h1>
        <!-- loader -->
        <div class="loader" id="loader">
            <img src="./loader.svg" alt="loading">
        </div>

        <!-- end container -->
    </div>
    <!-- Loader -->

    <div class="alert">
        <p>Для начала иду на <code>https://loading.io/</code> выбираю спинер. Также шрифт "бебас" на google font.</p>
    </div>

    <script src="./scripts.js"></script>
</body>

</html>