<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css"> -->
    <link rel="stylesheet" href="./style.css">
    <title>Infinite Scroll</title>
</head>

<body>
    <h1>Unsplash API - Infinite Scroll.</h1>
    <div class="alert">
        <p>Для начала иду на <code>https://loading.io/</code> выбираю спинер. Также шрифт "бебас" на google font.</p>
        <p>Стили для лоадера:</p>
        <pre><code>
            .loader {
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.8);
            }
            <span>loader растянут на всю страницу</span>
            .loader img {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
            <span>сама картинка svg центрирована</span>
        </code></pre>
        <p>Спрячу лоадер атрибутом <code>hidden</code></p>
        <p>За фотками на Unsplash.com</p>
        <p>Для контейнера фоток задать <code>margin: 10px 30%;</code> Эти <code>30%</code> ужмут контейнер. Фоткам
            классично <code>width: 100%;</code></p>
        <h3>Работа с API unsplash.com</h3>
        <p><code>https://unsplash.com/documentation</code> там в Setting up an application и перейти по ссылке в
            Creating a developer account и зарегистрироваться.</p>
        <p>В <code>https://unsplash.com/documentation#schema</code> беру параметр запроса и в подразделе "рандомные
            фото" параметр фильтра случайного фото</p>
        <p>Для получения ключа Your apps -> new application. Беру значение Access Key..</p>
        <pre><code>
            <span>// Unsplash API</span>
            const count = 30;
            const apiKey = 'cruZ_r6yEZ3Se3XnlbbcwG3DTJ2SvhG-eXT-6z3sz8Q';
            const apiUrl = `https://api.unsplash.com/photos/random?client_id=${apiKey}&count=${count}`;
            <span>// Get photos from Unsplash API</span>
            async function getPhotos() {
                try {
                    const response = await fetch(apiUrl);
                    const data = await response.json();
                    console.log(data)
                } catch (error) {
                    <span>// Catch Error Here</span>
                }
            }

            <span>// On Load</span>
            getPhotos();
        </code></pre>
        <p>Получили массив объектов сс множеством свойств.</p>
        <h3>Теперь фото вывести на экран.</h3>
        <p>Получаю контейнеры, и инициализирую <code>photosArray</code> под массив фоток</p>
        <p>Пишу ф-ию <code>displayPhotos</code></p>
        <pre><code>
            async function getPhotos() {
                try {
                    const response = await fetch(apiUrl);
                    const photosArray = await response.json();
                    console.log(photosArray);
                    displayPhotos();
                } catch (error) {
                    <span>// Catch Error Here</span>
                }
            }
        </code></pre>
        <p>Сама функция <code>displayPhotos</code></p>
        <pre><code>
            function displayPhotos(data) {                
                data.forEach(photo => {
                    <span>// Create a to link to full photo</span>
                    const item = document.createElement("a");
                    item.setAttribute("href", photo.links.html);
                    item.setAttribute("target", "_blank");
                    <span>// Create img for photo</span>
                    const img = document.createElement('img');
                    img.setAttribute("src", photo.urls.regular);
                    img.setAttribute("alt", photo.alt_description);
                    img.setAttribute("title", photo.alt_description);
                    <span>// Put img inside a, then put both inside imageContainer Element</span>
                    item.appendChild(img);
                    imageContainer.appendChild(item);
                });                
            }
        </code></pre>
        <p>Второй элемент в <code>setAttribute</code> строка - намучился, передав <code>_blank</code> вместо
            <code>"_blank"</code> </p>
        <p>Метод <code>setAttribute</code> можно записать для нескольких значений:</p>
        <pre><code>
            setAttributes(img, {
                src: photo.urls.regular,
                alt: photo.alt_description,
                title: photo.alt_description,
              });
        </code></pre>
        <p>Но для этого нужно создать функцию:</p>
        <pre><code>
            function setAttributes(element, attributes) {
                for (const key in attributes) {
                  element.setAttribute(key, attributes[key]);
                }
              }
        </code></pre>
        <h3>Делаю бесконечную подгрузку.</h3>
        <p>Событие прокрутки <code>scroll</code> позволяет реагировать на прокрутку страницы или элемента. Есть много хороших вещей, которые при этом можно сделать.</p>
        <div class="image-container">
            <img src="./scroll.png" alt="scroll img">
        </div>
        <p> <code>scrollY</code> возвращает Y-координату от верхнего края текущего окна просмотра (viewport).</p>
        <pre><code>
            window.addEventListener('scroll', () => {                
                console.log(window.scrollY)
              });
    <span>// При прокрутке будут появляться числа - расстояние от верхнего края</span>
        </code></pre>
        <ul>
            <li><code>scrollY</code> - на сколько пикселей страница пролистана вниз</li>
            <li><code>pageYOffset</code> - то ж самое</li>
            <li><code>scrollTop</code> - насколько пикселей пролистано от начала элемента до видимой области</li>
            <li><code>offsetWidth</code>/<code>Height</code>: содержат полный размер (ширину/высоту) элемента, включая рамки.</li>
        </ul>
        <pre><code>
            window.addEventListener('scroll', () => {    
                if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 1000 ) {      
                  getPhotos();      
                }    
              });
        </code></pre>
        <h3>У жизненного цикла HTML-страницы есть три важных события:</h3>
        <ol>
            <li><code>DOMContentLoaded</code> – браузер полностью загрузил HTML, было построено DOM-дерево, но внешние ресурсы, такие как картинки <code>img</code> и стили, могут быть ещё не загружены.</li>
            <li><code>load</code> – браузер загрузил HTML и внешние ресурсы (картинки, стили и т.д.).</li>
            <li><code>beforeunload</code>/<code>unload</code> – пользователь покидает/покинул страницу.</li>
        </ol>
        <p>В функцию <code>displayPhotos</code>:</p>
        <pre><code>
            img.addEventListener('load', imageLoaded);
        </code></pre>
        <p>Сама функция</p>
        <pre><code>
            function imageLoaded() {
                console.log("image loaded..")
            }
        </code></pre>
        <p>Т.к <code>const count = 10;</code>, то в консоли надпись "image loaded.." появится 10 раз. Т.е функция запускается на загризке КАЖДОЙ картинки!</p>
        <p>Добавить переменные</p>
        <pre><code>
            let ready = false;
            let imagesLoaded = 0;
            let totalImages = 0;
            <span>// а функция изменится</span>
            function imageLoaded() {
                imagesLoaded++;
                if (imagesLoaded === totalImages) {
                  ready = true;                  
                }
              }
        </code></pre>
        <p>Забрать атрибут <code>hidden</code> с <code>img</code> и добавить <code>loader.hidden = true</code></p>       
        <pre><code>
            function imageLoaded() {    
                imagesLoaded++;
                console.log("image loaded: ", imagesLoaded)
                if (imagesLoaded === totalImages) {
                    ready = true;
                    loader.hidden = true;
                }
            }
        </code></pre>
        <h3>Code rewiew:</h3>
        <p>Много картинок могут грузиться медленно. Изменяю <code>let count = 5;</code></p>
        <p>Также в этой части кода</p>
        <pre><code>
            if (imagesLoaded === totalImages) {
                ready = true;
                loader.hidden = true;                
                count = 25;
                apiUrl = `https://api.unsplash.com/photos/random?client_id=${apiKey}&count=${count}`;
            }
        </code></pre>
    </div>
    <div class="container">

        <!-- loader -->
        <div class="loader" id="loader">
            <img src="./loader.svg" alt="loading">
        </div>
        <!-- image container -->
        <div class="image-container" id="image-container">

        </div>

        <!-- end container -->
    </div>



    <script src="./scripts.js"></script>
</body>

</html>