<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation nation</title>
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Menu Overlay -->
  <div class="overlay overlay-slide-left" id="overlay">
    <!-- Menu Items -->
    <nav class="nav">
      <ul>
        <li id="nav-1" class="slide-out-1"><a href="#">Home</a></li>
        <li id="nav-2" class="slide-out-2"><a href="#about">About</a></li>
        <li id="nav-3" class="slide-out-3"><a href="#skills">Skills</a></li>
        <li id="nav-4" class="slide-out-4"><a href="#projects">Projects</a></li>
        <li id="nav-5" class="slide-out-5"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- Menu Bars -->
  <div class="menu-bars" id="menu-bars">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <!-- Sections -->
  <section id="home"><a href="https://jacinto.design" target="_blank">from Jacinto Design</a></section>
  <section id="about"><h1>Learn More About Me</h1></section>
  <section id="skills"><h1>These Are My Strengths</h1></section>
  <section id="projects"><h1>These Are My Results</h1></section>
  <section id="contact"><h1>Available Anytime</h1></section>
  <!-- Script -->

<div class="container">
  <div class="my-content">    
    
      <h2>Вызов меню</h2>
      <p>Уже есть класс <code>.change</code> с различными своствами <code>transform</code></p>
      <p>Код взят с <a href="https://www.w3schools.com/howto/howto_css_menu_icon.asp" target="_blank">Menu icon</a></p>
      <pre><code>
        const menuBars = document.getElementById('menu-bars');

        function toggleNav() {
          <span>// Toggle: Menu Bars Open/Closed</span>
          menuBars.classList.toggle('change');
          
        }
        menuBars.addEventListener('click', toggleNav);
      </code></pre>
      <p>Теперь дописать функцию <code>toggleNav</code></p>
      <pre><code>
        function toggleNav() {
          <span>// Toggle: Menu Bars Open/Closed</span>
          menuBars.classList.toggle('change');
          <span>// Toggle: Menu Active</span>
          overlay.classList.toggle('overlay-active');
          if (overlay.classList.contains('overlay-active')) {
            <span>// Animate In - Overlay</span>
            overlay.classList.replace('overlay-slide-left', 'overlay-slide-right');
            <span>// Animate In - Nav Items</span>
            navAnimation('out', 'in');
          } else {
            <span>// Animate Out - Overlay</span>
            overlay.classList.replace('overlay-slide-right', 'overlay-slide-left');
            <span>// Animate Out - Nav Items</span>
            navAnimation('in', 'out');
          }
        }
      </code></pre>
      <p>При этом важно знать своства классов:</p>
      <pre><code>
        .overlay-slide-right {
          transition: all 0.4s ease-in-out;
          transform: translateX(0);
        }
        .overlay-slide-left {
          transition: all 0.8s ease-in-out;
          transform: translateX(-100vw);
        }
      </code></pre>
      <p>Спарятанное меню обёрнуто в </p>
      <pre><code>
        &lt;div class=&quot;overlay overlay-slide-left&quot; id=&quot;overlay&quot;&gt;
      </code></pre>
      <p>Функция для изменения функции безье:</p>
      <pre><code>
        const navItems = [nav1, nav2, nav3, nav4, nav5];
        <span>// Control Navigation Animation</span>
        function navAnimation(direction1, direction2) {
          navItems.forEach((nav, i) => {
            nav.classList.replace(`slide-${direction1}-${i + 1}`, `slide-${direction2}-${i + 1}`);
          });
        }
      </code></pre>
      <div class="alert">
        <p>Класс <code>.overlay-active</code> является флагом, не более.</p>
      </div>
    
    </div>
</div>

  <script src="./main.js"></script>
</body>
</html>