<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Spock rock game</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h1>NASA API</h1>
      <a href="https://getloaf.io/" class="link">Animation icons</a>
      <p>
        Скачать программу с сайта иконок, выбрать иконку <code>rocket</code> и
        <code>save svg</code>
      </p>
      <p>favicon содрать так:</p>
      <pre><code>
      &lt;link
      rel=&quot;icon&quot;
      type=&quot;image/png&quot;
      href=&quot;https://s2.googleusercontent.com/s2/favicons?domain=<strong>www.nasa.gov</strong>
      
      </code></pre>
      <p>
        Точку поставит в html найдя в поиске <code>Bullet Point symbol</code>
      </p>
      <p>
        В <code>images-container</code> html документа сейчас дефолтные данные
        карточки(потом удалятся)
      </p>
      <pre><code>
  &lt;div class=&quot;images-container&quot;&gt;
    &lt;div class=&quot;card&quot;&gt;
      &lt;a href=&quot;&quot; title=&quot;View full img&quot; target=&quot;_blank&quot;&gt;
        &lt;img src=&quot;&quot; alt=&quot;NASA picture&quot; class=&quot;card-img-top&quot; /&gt;
      &lt;/a&gt;
      &lt;div class=&quot;card-body&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Title of image&lt;/h5&gt;
        &lt;p class=&quot;clickable&quot;&gt;Add to Favorite&lt;/p&gt;
        &lt;p class=&quot;card-text&quot;&gt;
          This service will only notify you of “good” sighting opportunities
          - that is, sightings that are high enough in the sky (40 degrees
          or more) and last long enough to give you the best view of the
          orbiting laboratory.
        &lt;/p&gt;
        &lt;small class=&quot;text-muted&quot;&gt;
          &lt;strong&gt;12-12-2020&lt;/strong&gt;
          &lt;span&gt;Copyright info&lt;/span&gt;
        &lt;/small&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  <span>url картинки скопировал с сайта api nasa gov</span>
      </code></pre>
      <div class="alert">
        <p>
          <code>text-align: justify</code> отлично работает для маленьких
          экранов.
        </p>
      </div>
      <h2>Получение API NASA</h2>
      <a href="https://api.nasa.gov/" class="link">NASA API</a>

      <p>Там написано, что можно не регестрироваться:</p>
      <h3>Authentication</h3>
      <p>You do not need to authenticate in order to explore the NASA data..</p>
      <p>
        Копирую из <code>APOD</code>:
        <code>https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY</code>
      </p>
      <pre><code>
    <span>// NASA API</span>
  const count = 10;
  const apiKey = "DEMO_KEY";
  const apiUrl = `https://api.nasa.gov/planetary/apod?api_key=${apiKey}&count=${count}`;
      </code></pre>
      <div class="alert">
        <p>
          <code>Fetch API </code>предоставляет интерфейс JavaScript для работы с
          запросами и ответами HTTP. Он также предоставляет глобальный метод
          <code>fetch()</code>, который позволяет легко и логично получать
          ресурсы по сети асинхронно.
        </p>
      </div>
      <a
        href="https://developer.mozilla.org/ru/docs/Web/API/Fetch_API/Using_Fetch"
        >Fetch MDN</a
      >
      <pre><code>
  let resultsArray = [];

  <span>// Get 10 images from NASA API</span>
  async function getNasaPictures() {
    try {
      const response = await fetch(apiUrl);
      resultsArray = await response.json();
      console.log(resultsArray);
    } catch (error) {
      <span>// Catch Error Here</span>
    }
  }
  <span>// On Load</span>
  getNasaPictures();
      </code></pre>
      <p>Получаю массив с десятью объектами:</p>
      <pre><code>
    0:
    <strong>date:</strong> "1997-04-08"
    <strong>explanation:</strong> "What's that point of light above the World Trade Center?
    It's Comet Hale-Bopp!
    Both faster than a speeding bullet and able to "leap"
    tall buildings in its single orbit.."
    <strong>hdurl:</strong> "https://apod.nasa.gov/apod/image/9704/halebopp2_js_big.jpg"
    <strong>media_type:</strong> "image"
    <strong>service_version:</strong> "v1"
    <strong>title:</strong> "Comet Hale-Bopp Over New York City 
    ↵Credit and Copyright:"
    <strong>url:</strong> "https://apod.nasa.gov/apod/image/9704/halebopp2_js.jpg"
      </code></pre>
      <h2>Создание DOM элементов</h2>
      <p>Удалить <code>div</code> с классом <code>card</code></p>
      <p>Получаю элементы:</p>
      <pre><code>
    const resultsNav = document.getElementById('resultsNav');
    const favoritesNav = document.getElementById('favoritesNav');
    const imagesContainer = document.querySelector('.images-container');
    const saveConfirmed = document.querySelector('.save-confirmed');
    const loader = document.querySelector('.loader');
      </code></pre>
      <div class="alert">
        <p>
          Атрибут <code>loading</code> элемента <img /> (или
          <code>loading</code> атрибут для <code>iframe</code>) могут быть
          использованы, чтобы указать браузеру на необходимость отложить
          загрузку изображений или фреймов до тех пор, пока пользователь не
          доскроллит до них.
        </p>
      </div>
      <div class="alert">
        <p>
          Метод <code>parentNode.append()</code> вставляет набор объектов Node
          или объектов DOMString после последнего дочернего элемента
          родительского узла
        </p>
        <p>
          Отличия <code>Node.append()</code> от <code>Node.appendChild()</code>
        </p>
        <ul>
          <li>
            <code>ParentNode.append()</code> позволяет добавлять
            <code>DOMString</code> объекты(parent.append('Appending Text') для
            append сработает), в то время как
            <code>Node.appendChild()</code> принимает только <code>Node</code>.
          </li>
          <li>
            <code>ParentNode.append()</code> ничего не возвращает, в то время
            как <code>Node.appendChild()</code> возвращает добавленный объект
            <code>Node</code>.
          </li>
          <li>
            <code>ParentNode.append()</code> позволяет добавить несколько узлов
            (node) или строк, в то время как
            <code>Node.appendChild()</code> может добавть только один узел
            (node).
          </li>
        </ul>
      </div>
      <pre><code>
let resultsArray = [];

function <strong>updateDOM()</strong> {
  resultsArray.forEach((result) => {
    <span>// Card Container</span>
    const card = document.createElement("div");
    card.classList.add("add");
    <span>// Link</span>
    const link = document.createElement("a");
    link.href = result.hdurl;
    link.title = "View Full Image";
    link.target = "_blank";
    <span>// Image</span>
    const image = document.createElement("img");
    image.src = result.url;
    image.alt = "NASA Picture of the Day";
    image.loading = "lazy";
    image.classList.add("card-img-top");
    <span>// Card Body</span>
    const cardBody = document.createElement("div");
    cardBody.classList.add("card-body");
    <span>// Card Title</span>
    const cardTitle = document.createElement("h5");
    cardTitle.classList.add("card-title");
    cardTitle.textContent = result.title;
    <span>// Save Text</span>
    const saveText = document.createElement("p");
    saveText.classList.add("clickable");
    saveText.textContent = "Add to Favorites";
    <span>// Card Text</span>
    const cardText = document.createElement("p");
    cardText.textContent = result.explanation;
    <span>// Footer Container</span>
    const footer = document.createElement("small");
    footer.classList.add("text-muted");
    <span>// Date</span>
    const date = document.createElement("strong");
    date.textContent = result.date;
    <span>// Copyright</span>
    const copyrightResult =
      result.copyright === undefined ? "" : result.copyright;
    const copyright = document.createElement("span");
    copyright.textContent = ` ${copyrightResult}`;
    <span>// Append</span>
    footer.append(date, copyright);
    cardBody.append(cardTitle, saveText, cardText, footer);
    link.appendChild(image);
    card.append(link, cardBody);
    imagesContainer.appendChild(card);
  });
}

<span>// Get 10 images from NASA API</span>
async function getNasaPictures() {
  try {
    const response = await fetch(apiUrl);
    resultsArray = await response.json();
    console.log(resultsArray);
    <strong>updateDOM();</strong>
  } catch (error) {
    <span>// Catch Error Here
  }
}

<span>// On Load</span>
getNasaPictures();
      </code></pre>
      <p>И получаю 10 картиночек<span style='font-size:30px;'>&#128512;</span></p>
      <h2>Save Favorites</h2>
      <p>Реализовать клик на <code>Add To Favorites</code></p>
      <pre><code>
    <strong>let favorites = {};</strong>

    function updateDOM() {
      resultsArray.forEach((result) => {
        .. 
      <span>// Save Text</span>
    const saveText = document.createElement("p");
    saveText.classList.add("clickable");
    saveText.textContent = "Add to Favorites";
    <strong>saveText.onclick = `saveFavorite("${result.url}")`;</strong>
    .. 
    }
    .. 
      <span>// Add result to favorites</span>
    function <strong>saveFavorite(itemUrl)</strong> {
      console.log(itemUrl);
    }
      </code></pre>
      <p>Клик на <code>Add To Favorites</code> и ничего не происходит, т.к onclick - метод</p>
      <pre><code>
    <strong>saveText.setAttribute("onclick", `saveFavorite("${result.url}")`);</strong>    
      </code></pre>
      <p>Теперь клик работает - получаю <code>url</code> картинки</p>
      <a href="https://www.w3schools.com/jsref/jsref_includes.asp" class="link">String includes() Method</a>
      <div class="alert">
        <p>Метод <code>includes()</code> определяет, содержит ли строка символы указанной строки.</p>
      </div>
      <pre><code>
    <span>// Add result to favorites</span>
    function saveFavorite(itemUrl) {
      <span>// Loop through results array to select Favorites</span>
      <strong>resultsArray.forEach((item) => {
        if (item.url.includes(itemUrl)) {
          favorites[itemUrl] = item;
          console.log(favorites);
        }
      });</strong>
    }
    <span>Два клика и получил объект:</span>
  <span>// {https://apod.nasa.gov/apod/image/1406/wr104_keck_960.jpg: {…}, 
      https://apod.nasa.gov/apod/image/1604/ISS02_NASA_960.jpg: {…}}</span>
      </code></pre>
      <h3>Блок ADDED добавить</h3>
      <pre><code>
    function saveFavorite(itemUrl) {
      <span>// Loop through results array to select Favorites</span>
      resultsArray.forEach((item) => {
        if (item.url.includes(itemUrl)) {
          favorites[itemUrl] = item;
          console.log(favorites);
          <span>// Show save confirmation for 2 sec</span>
          <strong>saveConfirmed.hidden = false;
          setTimeout(() => {
            saveConfirmed.hidden = true;
          }, 2000);</strong>
        }
      });
    }
      </code></pre>
      <p>Чтобы одинаковый объект не добавлять:</p>
      <pre><code>
    resultsArray.forEach((item) => {
      if (item.url.includes(itemUrl) <strong> && !favorites[itemUrl]</strong>) {
        favorites[itemUrl] = item;
        console.log(favorites);
        <span>// Show save confirmation for 2 sec</span>
        saveConfirmed.hidden = false;
        setTimeout(() => {
          saveConfirmed.hidden = true;
        }, 2000);
      }
    });  
      </code></pre>
      <h3>Добавление в localStorage</h3>
      <div class="alert">
        <p>Метод <code>JSON.stringify()</code> преобразует значение JavaScript в строку JSON</p>
      </div>
      <pre><code>
        function saveFavorite(itemUrl) {
          ...
          <span>// Set favorites in localStorage</span>
          <strong>localStorage.setItem("NASAFavorites", JSON.stringify(favorites));</strong>
          
        }
        <span>В application смотреть на localStorage</span>
      </code></pre>
      

      <!-- end -->
    </div>
  </body>
</html>
