<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Spock rock game</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h1>NASA API</h1>
      <a href="https://getloaf.io/" class="link">Animation icons</a>
      <p>
        Скачать программу с сайта иконок, выбрать иконку <code>rocket</code> и
        <code>save svg</code>
      </p>
      <p>favicon содрать так:</p>
      <pre><code>
      &lt;link
      rel=&quot;icon&quot;
      type=&quot;image/png&quot;
      href=&quot;https://s2.googleusercontent.com/s2/favicons?domain=<strong>www.nasa.gov</strong>
      
      </code></pre>
      <p>
        Точку поставит в html найдя в поиске <code>Bullet Point symbol</code>
      </p>
      <p>
        В <code>images-container</code> html документа сейчас дефолтные данные
        карточки(потом удалятся)
      </p>
      <pre><code>
  &lt;div class=&quot;images-container&quot;&gt;
    &lt;div class=&quot;card&quot;&gt;
      &lt;a href=&quot;&quot; title=&quot;View full img&quot; target=&quot;_blank&quot;&gt;
        &lt;img src=&quot;&quot; alt=&quot;NASA picture&quot; class=&quot;card-img-top&quot; /&gt;
      &lt;/a&gt;
      &lt;div class=&quot;card-body&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Title of image&lt;/h5&gt;
        &lt;p class=&quot;clickable&quot;&gt;Add to Favorite&lt;/p&gt;
        &lt;p class=&quot;card-text&quot;&gt;
          This service will only notify you of “good” sighting opportunities
          - that is, sightings that are high enough in the sky (40 degrees
          or more) and last long enough to give you the best view of the
          orbiting laboratory.
        &lt;/p&gt;
        &lt;small class=&quot;text-muted&quot;&gt;
          &lt;strong&gt;12-12-2020&lt;/strong&gt;
          &lt;span&gt;Copyright info&lt;/span&gt;
        &lt;/small&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  <span>url картинки скопировал с сайта api nasa gov</span>
      </code></pre>
      <div class="alert">
        <p>
          <code>text-align: justify</code> отлично работает для маленьких
          экранов.
        </p>
      </div>

      <!-- end -->
    </div>
  </body>
</html>
