<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spock rock game</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />

    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./myStyle.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="container">
      <h1>Spock rock game</h1>
      
    <a class="link" href="./tuturial.html" target="_blank">Lesson tutorial</a>

    <script src="./main.js"></script>
  </body>
</html>
