<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Spock rock game</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h1>Валидация формы</h1>
      <h2>HTML & CSS validate</h2>

      <!-- end -->
    </div>
  </body>
</html>
