<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Spock rock game</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h1>Tutor Spock rock game</h1>
      <h2>Selection elements</h2>
      <pre><code>
      const playerScoreEl = document.getElementById("playerScore");
      const playerChoiceEl = document.getElementById("playerChoice");
      const computerScoreEl = document.getElementById("computerScore");
      const computerChoiceEl = document.getElementById("computerChoice");

      const playerRock = document.getElementById("playerRock");
      const playerPaper = document.getElementById("playerPaper");
      const playerScissors = document.getElementById("playerScissors");
      const playerLizard = document.getElementById("playerLizard");
      const playerSpock = document.getElementById("playerSpock");

      const computerRock = document.getElementById("computerRock");
      const computerPaper = document.getElementById("computerPaper");
      const computerScissors = document.getElementById("computerScissors");
      const computerLizard = document.getElementById("computerLizard");
      const computerSpock = document.getElementById("computerSpock");

      const allGameIcons = document.querySelectorAll(".far");
      const resultText = document.getElementById("resultText");

      const choices = {
        rock: { name: "Rock", defeats: ["scissors", "lizard"] },
        paper: { name: "Paper", defeats: ["rock", "spock"] },
        scissors: { name: "Scissors", defeats: ["paper", "lizard"] },
        lizard: { name: "Lizard", defeats: ["paper", "spock"] },
        spock: { name: "Spock", defeats: ["scissors", "rock"] },
      };

      </code></pre>
      <div class="alert">
        <p><code>defeats</code> с англ. <code>поражение</code></p>
      </div>
      <div class="alert">
        <p>
          <code>GlobalEventHandlers.onclick</code>.Свойство
          <code>onclick</code> возвращает обработчик события
          <code>click</code> на текущем элементе.
        </p>
        <p>
          Единственный аргумент, переданный в определённую функцию обработчик
          события это <code>MouseEvent</code> объект. <br />
          &#10071;<code>this</code>&#10071; внутри обработчика будет указывать
          на элемент, на котором было вызвано событие.
        </p>
      </div>
      <p>
        Во всех элементах пользователя <code>i</code> должен быть
        <code>onclick="select('тут значение title')"</code>
      </p>
      <pre><code>
      <span>// Passing player selection value and styling icons</span>
      function select(playerChoice) {
        console.log(playerChoice);
      }
      <span>// клик по иконкам даст в консоли текст</span>
      </code></pre>
      <h2>Класс на иконку клика</h2>
      <pre><code>
      function select(playerChoice) {
        console.log(playerChoice);
        <span>// Add 'selected' styling & playerChoice</span>
        switch (playerChoice) {
          case "rock":
            playerRock.classList.add("selected");
            playerChoiceEl.textContent = " --- Rock";
            break;
          case "paper":
            playerPaper.classList.add("selected");
            playerChoiceEl.textContent = " --- Paper";
            break;
          case "scissors":
            playerScissors.classList.add("selected");
            playerChoiceEl.textContent = " --- Scissors";
            break;
          case "lizard":
            playerLizard.classList.add("selected");
            playerChoiceEl.textContent = " --- Lizard";
            break;
          case "spock":
            playerSpock.classList.add("selected");
            playerChoiceEl.textContent = " --- Spock";
            break;
          default:
            break;
        }
      }        
      </code></pre>
      <h2>Решить проблему класса selected</h2>
      <pre><code>
        <span>// Reset all 'selected' icons</span>
      function <strong>resetSelected()</strong> {
        allGameIcons.forEach((icon) => {
          icon.classList.remove("selected");
        });
      }
      .. 
      function select(playerChoice) {
        <strong>resetSelected();</strong>      
        <span>// Add 'selected' styling & playerChoice</span>
        switch (playerChoice) {
          ..
        }
      </code></pre>
      <h2>Тоже самое для ИИ</h2>

      <!-- end -->
    </div>
  </body>
</html>
