<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Spock rock game</title>
    <link rel="icon" href="./favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./myStyle.css" />
  </head>
  <body>
    <!-- my content -->
    <div class="wrapper">
      <h1>Tutor Spock rock game</h1>
      <h2>Selection elements</h2>
      <pre><code>
      const playerScoreEl = document.getElementById("playerScore");
      const playerChoiceEl = document.getElementById("playerChoice");
      const computerScoreEl = document.getElementById("computerScore");
      const computerChoiceEl = document.getElementById("computerChoice");

      const playerRock = document.getElementById("playerRock");
      const playerPaper = document.getElementById("playerPaper");
      const playerScissors = document.getElementById("playerScissors");
      const playerLizard = document.getElementById("playerLizard");
      const playerSpock = document.getElementById("playerSpock");

      const computerRock = document.getElementById("computerRock");
      const computerPaper = document.getElementById("computerPaper");
      const computerScissors = document.getElementById("computerScissors");
      const computerLizard = document.getElementById("computerLizard");
      const computerSpock = document.getElementById("computerSpock");

      const allGameIcons = document.querySelectorAll(".far");
      const resultText = document.getElementById("resultText");

      const choices = {
        rock: { name: "Rock", defeats: ["scissors", "lizard"] },
        paper: { name: "Paper", defeats: ["rock", "spock"] },
        scissors: { name: "Scissors", defeats: ["paper", "lizard"] },
        lizard: { name: "Lizard", defeats: ["paper", "spock"] },
        spock: { name: "Spock", defeats: ["scissors", "rock"] },
      };

      </code></pre>
      <div class="alert">
        <p><code>defeats</code> с англ. <code>поражение</code></p>
      </div>
      <div class="alert">
        <p>
          <code>GlobalEventHandlers.onclick</code>.Свойство
          <code>onclick</code> возвращает обработчик события
          <code>click</code> на текущем элементе.
        </p>
        <p>
          Единственный аргумент, переданный в определённую функцию обработчик
          события это <code>MouseEvent</code> объект. <br />
          &#10071;<code>this</code>&#10071; внутри обработчика будет указывать
          на элемент, на котором было вызвано событие.
        </p>
      </div>
      <p>
        Во всех элементах пользователя <code>i</code> должен быть
        <code>onclick="select('тут значение title')"</code>
      </p>
      <pre><code>
      <span>// Passing player selection value and styling icons</span>
      function select(playerChoice) {
        console.log(playerChoice);
      }
      <span>// клик по иконкам даст в консоли текст</span>
      </code></pre>
      <h2>Класс на иконку клика</h2>
      <pre><code>
      function select(playerChoice) {
        console.log(playerChoice);
        <span>// Add 'selected' styling & playerChoice</span>
        switch (playerChoice) {
          case "rock":
            playerRock.classList.add("selected");
            playerChoiceEl.textContent = " --- Rock";
            break;
          case "paper":
            playerPaper.classList.add("selected");
            playerChoiceEl.textContent = " --- Paper";
            break;
          case "scissors":
            playerScissors.classList.add("selected");
            playerChoiceEl.textContent = " --- Scissors";
            break;
          case "lizard":
            playerLizard.classList.add("selected");
            playerChoiceEl.textContent = " --- Lizard";
            break;
          case "spock":
            playerSpock.classList.add("selected");
            playerChoiceEl.textContent = " --- Spock";
            break;
          default:
            break;
        }
      }        
      </code></pre>
      <h2>Решить проблему класса selected</h2>
      <pre><code>
        <span>// Reset all 'selected' icons</span>
      function <strong>resetSelected()</strong> {
        allGameIcons.forEach((icon) => {
          icon.classList.remove("selected");
        });
      }
      .. 
      function select(playerChoice) {
        <strong>resetSelected();</strong>      
        <span>// Add 'selected' styling & playerChoice</span>
        switch (playerChoice) {
          ..
        }
      </code></pre>
      <h2>Тоже самое для ИИ</h2>
      <pre><code>
      <span>// Call function to process turn</span>
      function <strong>checkResult()</strong> {
        resetSelected();
      }

      <span>// Passing player selection value and styling icons</span>
      function select(playerChoice) {
        <strong>checkResult();</strong>
      <span>// Add 'selected' styling & playerChoice</span>
        switch (playerChoice)
      </code></pre>
      <pre><code>
      const choices = {
        rock: { name: "Rock", defeats: ["scissors", "lizard"] },
        paper: { name: "Paper", defeats: ["rock", "spock"] },
        scissors: { name: "Scissors", defeats: ["paper", "lizard"] },
        lizard: { name: "Lizard", defeats: ["paper", "spock"] },
        spock: { name: "Spock", defeats: ["scissors", "rock"] },
      };
      <strong>let computerChoice = "";</strong>
      .. 
      <span>// Random computer choice</span>
      function <strong>computerRandomChoice()</strong> {
        const computerChoiceNumber = Math.random();
        console.log(computerChoiceNumber);
      }

      <span>// Call function to process turn</span>
      function checkResult() {
        resetSelected();
        <strong>computerRandomChoice();</strong>
      }
      </code></pre>
      <p>
        Клики выводят рандомные числа, которые теперь нужно "превратить" в текст
      </p>
      <pre><code>
      <span>// Random computer choice</span>
      function computerRandomChoice() {
        const computerChoiceNumber = Math.random();
        if (computerChoiceNumber < 0.2) {
          computerChoice = "rock";
        } else if (computerChoiceNumber <= 0.4) {
          computerChoice = "paper";
        } else if (computerChoiceNumber <= 0.6) {
          computerChoice = "scissors";
        } else if (computerChoiceNumber <= 0.8) {
          computerChoice = "lizard";
        } else {
          computerChoice = "spock";
        }
        console.log(computerChoice);
      }
      </code></pre>
      <p>Кликаю и вижу вывод текста..</p>
      <h2>Вывод рандомного текста для ИИ</h2>
      <pre><code>
      <span>// Add 'selected' styling & computerChoice</span>
      function displayComputerChoice() {
        switch (computerChoice) {
          case 'rock':
            computerRock.classList.add('selected');
            computerChoiceEl.textContent = ' --- Rock';
            break;
          case 'paper':
            computerPaper.classList.add('selected');
            computerChoiceEl.textContent = ' --- Paper';
            break;
          case 'scissors':
            computerScissors.classList.add('selected');
            computerChoiceEl.textContent = ' --- Scissors';
            break;
          case 'lizard':
            computerLizard.classList.add('selected');
            computerChoiceEl.textContent = ' --- Lizard';
            break;
          case 'spock':
            computerSpock.classList.add('selected');
            computerChoiceEl.textContent = ' --- Spock';
            break;
          default:
            break;
        }
      }
      .. 
    <span>// Call function to process turn</span>
    function checkResult() {
      resetSelected();
      computerRandomChoice();
      <strong>displayComputerChoice();</strong>
    }
    </code></pre>
      <h2>Вывод результата</h2>
      <p>
        Объект <code>choices</code> содержит массив <code>defeat</code> с
        вариантами поражений
      </p>
      <pre><code>
    <strong>let playerScoreNumber = 0;
    let computerScoreNumber = 0;</strong>
    let computerChoice = "";
    .. 
    <span>// Check result, increase scores, update resultText</span>
    <strong>function updateScore(playerChoice) {
      console.log(playerChoice, computerChoice);
    }</strong>
    .. 
    <span>// Call function to process turn</span>
    function checkResult(playerChoice) {
      resetSelected();
      computerRandomChoice();
      displayComputerChoice();
      <strong>updateScore(playerChoice)</strong>
    }

    <span>// Passing player selection value and styling icons</span>
    function select(playerChoice) {
      checkResult(<strong>playerChoice</strong>);
      .. 
    }
    </code></pre>
      <p>
        По кликам получу <code>playerChoice</code> и <code>computerChoice</code>
      </p>
      <pre><code>
    function updateScore(playerChoice) {
      console.log(playerChoice, computerChoice);
      <strong>if (playerChoice === computerChoice) {
        resultText.textContent = "It's a tie.";
      }</strong>
    }      
    </code></pre>
      <p>Получить текст "It's a tie." прокликав</p>
      <pre><code>
      function updateScore(playerChoice) {
        console.log(playerChoice, computerChoice);
        if (playerChoice === computerChoice) {
          resultText.textContent = "It's a tie.";
        } <strong>else {
          const choice = choices[playerChoice];
          console.log(choice);
        }</strong>
      }
      </code></pre>
      <p>Получу массив</p>
      <p>
        Вместо <code>console.log(choice)</code> вписать
        <code>console.log(choice.defeats.indexOf(computerChoice))</code> и в
        консоли видно пары результата и <code>1</code> или <code>-1</code> или
        <code>0</code>
      </p>
      <div class="alert">
        <p>
          Метод <code>indexOf()</code> возвращает первый индекс, по которому
          данный элемент может быть найден в массиве или -1, если такого индекса
          нет.
        </p>
      </div>
      <pre><code>
      function updateScore(playerChoice) {        
        if (playerChoice === computerChoice) {
          resultText.textContent = "It's a tie.";
        } else {
          const choice = choices[playerChoice];          
          <strong>if (choice.defeats.indexOf(computerChoice) > -1) {
            resultText.textContent = "You Won!";
            playerScoreNumber++;
            playerScoreEl.textContent = playerScoreNumber;
          } else {
            resultText.textContent = "You Lost!";
            computerScoreNumber++;
            computerScoreEl.textContent = computerScoreNumber;
          }</strong>
        }
      }
      </code></pre>
      <h2>Reset All</h2>
      <p>
        Иконка сброса должна иметь атрибут <code>onclick="resetAll()"</code>
      </p>
      <pre><code>
      <span>// Reset score & playerChoice/computerChoice</span>
      function resetAll() {
        playerScoreNumber = 0;
        computerScoreNumber = 0;
        playerScoreEl.textContent = playerScoreNumber;
        computerScoreEl.textContent = computerScoreNumber;
        playerChoiceEl.textContent = "";
        computerChoiceEl.textContent = "";
        resultText.textContent = "";
        resetSelected();
      }
      </code></pre>
      <p>
        Чтобы результат 0 отображался с самого начала, то ф-ию поместить в конце
        кода?
      </p>
      <pre><code>
      <span>// On startup, set initial values</span>
      resetAll();
      </code></pre>
      <h2>Add confetti.js</h2>
      <a
        href="https://www.cssscript.com/confetti-falling-animation/"
        class="link"
        >Confetti falling animation</a
      >
      <div class="alert">
        <p>
          <code>
            &lt;script src=&quot;#&quot;
            <strong>type=&quot;module&quot;</strong>&gt;&lt;/script&gt;
          </code>
        </p>
        <p>
          Модули могут загружать друг друга и использовать директивы
          <code>export</code> и <code>import</code>, чтобы обмениваться
          функциональностью, вызывать функции одного модуля из другого
        </p>
      </div>
      <pre><code>
      <span>// Reset all 'selected' icons, remove confetti</span>
      function resetSelected() {
        allGameIcons.forEach((icon) => {
          icon.classList.remove("selected");
        });
        <strong>stopConfetti();</strong>
        <strong>removeConfetti()</strong>
      }

      <span>// Check result, increase scores, update resultText</span>
      function updateScore(playerChoice) {
        console.log(playerChoice, computerChoice);
        if (playerChoice === computerChoice) {
          resultText.textContent = "It's a tie.";
        } else {
          const choice = choices[playerChoice];
          console.log(choice);
          if (choice.defeats.indexOf(computerChoice) > -1) {
            <strong>startConfetti();</strong>
            resultText.textContent = "You Won!";
            playerScoreNumber++;
            playerScoreEl.textContent = playerScoreNumber;
          } else {
            resultText.textContent = "You Lost!";
            computerScoreNumber++;
            computerScoreEl.textContent = computerScoreNumber;
          }
        }
      }
      </code></pre>
      <p>
        Убрать в <code>confetti.js</code> самовызывайку и добавить
        <code>export { startConfetti, stopConfetti, removeConfetti }</code>
      </p>
      <p>
        В <code>main.js</code> добавить
        <code
          >import { startConfetti, stopConfetti, removeConfetti } from
          "./confetti.js"</code
        >
      </p>
      <p>Для проверки в конце кода <code>startConfetti()</code></p>
      <p>Будет салют<span style="font-size: 50px">&#127752;</span></p>

      <p>
        Но при нажатии на элемент
        <code style="color: red"
          >Uncaught ReferenceError: select is not defined</code
        >
      </p>
      <div class="alert">
        <p>Причина:</p>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules"
          >Moduls MDN</a
        >
        <p>
          Раздел
          <strong
            >Other differences between modules and standard scripts</strong
          >
        </p>
        <p>
          функции модуля импортируются в область действия одного скрипта - они
          недоступны в глобальной области. Следовательно, вы сможете получить
          доступ только к импортированным функциям в сценарии, в который они
          импортированы
        </p>
      </div>
      <p>
        Помещаю <code>select</code> в глобальную область:
        <code>window.select = select</code> и
        <code>window.resetAll = resetAll</code>
      </p>

      <!-- end -->
    </div>
  </body>
</html>
