<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music player</title>
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="player-container">
        <!-- Song -->
        <div class="img-container">
            <img src="img/music-1.jpg" alt="Album Art">
        </div>
        <h2 id="title">Electric Chill Machine</h2>
        <h3 id="artist">Jorgen</h3>
        <audio src="music/music-1.mp3" ></audio>
        <!-- Progress -->
        <div class="progress-container" id="progress-container">
            <div class="progress" id="progress"></div>
            <div class="duration-wrapper">
                <span id="current-time">0:00</span>
                <span id="duration">2:06</span>
            </div>
        </div>
        <!-- Controls -->
        <div class="player-controls">
            <i class="fas fa-backward" id="prev" title="Previous"></i>
            <i class="fas fa-play main-button" id="play" title="Play"></i>
            <i class="fas fa-forward" id="next" title="Next"></i>
        </div>
    </div>
    <div class="my-wrapper">
        <h2>Элемент video\audio</h2>
        <a class="link" href="https://www.w3schools.com/tags/ref_av_dom.asp">Ссылка на w3schools</a>
        <p>Вначале получаем элементы проигрывателя(узла audio)</p>
        <pre><code>
        const music = document.querySelector('audio');
        const prevBtn = document.getElementById('prev');
        const playBtn = document.getElementById('play');
        const nextBtn = document.getElementById('next');

        <span>// Check if Playing</span>
        let isPlaying = false;
        <span>// Play</span>
        function playSong() {   
            isPlaying = true;       
            music.play();
        }        
        <span>// Pause</span>
        function pauseSong() { 
            isPlaying = false;         
            music.pause();
        }
        <span>// Play or Pause Event Listener</span>
        playBtn.addEventListener('click', () => (isPlaying ? pauseSong() : playSong()));
        </code></pre>
        <p>Элемент music у нас <code>&lt;audio src=&quot;music/music-1.mp3&quot; &gt;&lt;/audio&gt;</code></p>
        <p>Уже есть музыка!</p>
        <h2>Добавить изменение картинки и исполнителя</h2>
        <pre><code>
        const image = document.querySelector('img');
        const title = document.getElementById('title');
        const artist = document.getElementById('artist');
        </code></pre>
        <p>Добавлю массив с объектами песен\исполнителей <code>songs</code> и функцию <code>loadSong</code></p>
        <pre><code>
            <span>// Update DOM</span>
            function loadSong(song) {
                title.textContent = song.displayName;
                artist.textContent = song.artist;
                music.src = `music/${song.name}.mp3`;
                image.src = `img/${song.name}.jpg`;
            }
            console.log(music);<span>// &lt;audio src=&quot;music/music-1.mp3&quot; &gt;&lt;/audio&gt;</span>
            console.log(image); <span>// &lt;img src=&quot;img/jacinto-1.jpg&quot; alt=&quot;Album Art&quot;&gt;</span>
            console.log(music.src) <span>// http://127.0.0.1:5500/templates/music-player/music/music-1.mp3</span>
        </code></pre>
        <p>Теперь запустить функцию, и песня заиграет:</p>
        <pre><code>
            loadSong(songs[2])
        </code></pre>
        <h2>События на пред. и след. композиции.</h2>
        <pre><code>
        prevBtn.addEventListener('click', prevSong);
        nextBtn.addEventListener('click', nextSong);
        </code></pre>
        <p>Теперь сами функции <code>prevSong</code> и <code>nextSong</code></p>
        <pre><code>
        <span>// Current Song</span>
        let songIndex = 0;

        <span>// Previous Song</span>
        function prevSong() {
        songIndex--;
        if (songIndex < 0) {
            songIndex = songs.length - 1;
        }
        loadSong(songs[songIndex]);
        playSong();
        }

        <span>// Next Song</span>
        function nextSong() {
        songIndex++;
        if (songIndex > songs.length - 1) {
            songIndex = 0;
        }
        loadSong(songs[songIndex]);
        playSong();
        }
        </code></pre>
        <p><code>loadSong(songs[2])</code>, разумеется, уже не нужна.</p>
        <h2>Progress Bar.</h2>
        <div class="alert">
            <p>Событие <code>timeupdate</code> запускается, когда время, указанное атрибутом currentTime, было обновлено.</p>            
        </div>
        <p>Добавить </p>
        <pre><code>
        const progress = document.getElementById('progress');
        const progressContainer = document.getElementById('progress-container');

        <span>// Update Progress Bar & Time</span>
        function updateProgressBar(e){
            if(isPlaying){
                console.log(e)
            }
        }

        <span>// Event Listeners</span>
        prevBtn.addEventListener('click', prevSong);
        nextBtn.addEventListener('click', nextSong);
        <span class="excretion">music.addEventListener('timeupdate', updateProgressBar);</span>
        </code></pre>
        <p>В объекте <code>event</code> своство <code>srcElement</code> имеет ряд ключей. Нас интересует свойство <code>currentTime</code> и <code>duration</code> поэтому используя деструктуризацию:</p>
        <pre><code>
        <span>// Update Progress Bar & Time</span>
        function updateProgressBar(e){
            if(isPlaying){
                const{duration, currentTime} = e.srcElement;
                console.log(duration, currentTime)
            }
        }
        </code></pre>
        <p>Преобразую в </p>
        <pre><code>         
        function updateProgressBar(e){
            if(isPlaying){
                const {duration, currentTime} = e.srcElement; 
                <span>// Update progress bar width</span>
                const progressPercent = (currentTime / duration) * 100;
                console.log(progressPercent)   
            }  
        }
        </code></pre>
        <pre><code>
            <span>// Update Progress Bar & Time</span>
        function updateProgressBar(e){
            if(isPlaying){
                const {duration, currentTime} = e.srcElement; 
                <span>// Update progress bar width</span>
                const progressPercent = (currentTime / duration) * 100;
                console.log(progressPercent)   
                <span class="excretion">progress.style.width = `${progressPercent}%`</span>  
            }  
        }
        </code></pre>
        <h2>Установка времени.</h2>
        <p>Получить текущеезначение и общую продолжительность</p>
        <pre><code>
        const currentTimeEl = document.getElementById('current-time');
        const durationEl = document.getElementById('duration');
        </code></pre>
        <a href="https://ru.onlinemschool.com/math/assistance/number_theory/modulo/">Калькулятор остатка от деления</a>
        <pre><code>
        function updateProgressBar(e){
            if(isPlaying){
                const {duration, currentTime} = e.srcElement; 
                <span>// Update progress bar width</span>
                const progressPercent = (currentTime / duration) * 100;      
                progress.style.width = `${progressPercent}%`;
                <span>//Calculate duration</span>
                const durationMinutes = Math.floor(duration / 60);
                const durationSeconds = Math.floor(duration % 60);
                if(durationSeconds < 10){
                durationSeconds = `0${durationSeconds}`;
                }
                console.log("min: ", durationMinutes)
                console.log("sec: ", durationSeconds)
            }  
            }
        </code></pre>
        <p>Теперь вывести на экран:</p>
        <pre><code>
        function updateProgressBar(e){
            if(isPlaying){
                let {duration, currentTime} = e.srcElement; 
                <span>// Update progress bar width</span>
                let progressPercent = (currentTime / duration) * 100;      
                progress.style.width = `${progressPercent}%`;
                <span>//Calculate duration</span>
                let durationMinutes = Math.floor(duration / 60);
                if (durationMinutes < 10) {
                    durationMinutes = `0${durationMinutes}`;
                }
                let durationSeconds = Math.floor(duration % 60);
                if(durationSeconds < 10){
                    durationSeconds = `0${durationSeconds}`;
                }    
                <span>// Delay switching duration Element to avoid NaN</span>
                if (durationSeconds) {
                    durationEl.textContent = `${durationMinutes}:${durationSeconds}`;
                }
            }  
        }
        </code></pre>
        <p><code>durationEl</code> это <code>&lt;span id=&quot;duration&quot;&gt;2:06&lt;/span&gt;</code></p>
        <p>Осталось вывести текущее время</p>
        <p>Просто копирую блок с <code>duration..</code> и меняю на <code>current</code></p>
        <pre><code>
            <span>//Calculate for current</span>
        let currentMinutes = Math.floor(currentTime / 60);    
        if (currentMinutes < 10) {
        currentMinutes = `0${currentMinutes}`;
        }
        let currentSeconds = Math.floor(currentTime % 60);
        if(currentSeconds < 10){
        currentSeconds = `0${currentSeconds}`;
        }
        currentTimeEl.textContent = `${currentMinutes}:${currentSeconds}`;
        </code></pre>
        <h2>Set Progress Bar</h2>
        <pre><code>
        progressContainer.addEventListener('click', setProgressBar)
        </code></pre>
        <p>Сама функция</p>
        <pre><code>
            <span>// Set Progress Bar</span>
        function setProgressBar(e) {
            console.log(e)
        }
        <span>получю событие мыши event со свойством <code>offsetX</code> показывающим реальное место клика мыши по оси <code>X</code></span>
        </code></pre>
        <div class="alert">
            <p>В событии <code>this</code> относится к элементу, получившему событие.</p>
            <a href="https://www.w3schools.com/js/js_this.asp" class="link">About this</a>
        </div>
        <p>Поэтому можно написать так:</p>
        <pre><code>
            function setProgressBar(e) {
                let width = this.clientWidth;
                console.log(width) <span>// покажет ширину полосы в пикселях</span>
              }
        </code></pre>
        <p>Добавить работу со свойством <code>offsetX</code></p>
        <pre><code>
            function setProgressBar(e) {
            let width = this.clientWidth;
            let clickX = e.offsetX
            console.log(clickX)
        }
        </code></pre>
        <div class="alert">
            <p><code>clientWidth</code> является свойством ключа <code>srcElement</code> объекта <code>event</code>, который вычисляется ( у меня это <code>div#progress-container.progress-container</code> ) </p>
        </div>
        <p>Конечный вид</p>
        <pre><code>
        function setProgressBar(e) {
            const width = this.clientWidth;
            const clickX = e.offsetX;
            const { duration } = music;
            music.currentTime = (clickX / width) * duration;
        }
        </code></pre>


    </div>


    <script src="./main.js"></script>
</body>

</html>