<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music player</title>
    <link rel="icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="player-container">
        <!-- Song -->
        <div class="img-container">
            <img src="img/jacinto-1.jpg" alt="Album Art">
        </div>
        <h2 id="title">Electric Chill Machine</h2>
        <h3 id="artist">Jorgen</h3>
        <audio src="music/music-1.mp3" ></audio>
        <!-- Progress -->
        <div class="progress-container" id="progress-container">
            <div class="progress" id="progress"></div>
            <div class="duration-wrapper">
                <span id="current-time">0:00</span>
                <span id="duration">2:06</span>
            </div>
        </div>
        <!-- Controls -->
        <div class="player-controls">
            <i class="fas fa-backward" id="prev" title="Previous"></i>
            <i class="fas fa-play main-button" id="play" title="Play"></i>
            <i class="fas fa-forward" id="next" title="Next"></i>
        </div>
    </div>
    <div class="my-wrapper">
        <h2>Элемент video\audio</h2>
        <a class="link" href="https://www.w3schools.com/tags/ref_av_dom.asp">Ссылка на w3schools</a>
        <p>Вначале получаем элементы проигрывателя(узла audio)</p>
        <pre><code>
        const music = document.querySelector('audio');
        const prevBtn = document.getElementById('prev');
        const playBtn = document.getElementById('play');
        const nextBtn = document.getElementById('next');

        <span>// Check if Playing</span>
        let isPlaying = false;
        <span>// Play</span>
        function playSong() {   
            isPlaying = true;       
            music.play();
        }        
        <span>// Pause</span>
        function pauseSong() { 
            isPlaying = false;         
            music.pause();
        }
        <span>// Play or Pause Event Listener</span>
        playBtn.addEventListener('click', () => (isPlaying ? pauseSong() : playSong()));
        </code></pre>
        <p>Элемент music у нас <code>&lt;audio src=&quot;music/music-1.mp3&quot; &gt;&lt;/audio&gt;</code></p>
        <p>Уже есть музыка!</p>
        <h2>Добавить изменение картинки и исполнителя</h2>
        <pre><code>
        const image = document.querySelector('img');
        const title = document.getElementById('title');
        const artist = document.getElementById('artist');
        </code></pre>
        <p>Добавлю массив с объектами песен\исполнителей <code>songs</code> и функцию <code>loadSong</code></p>
        <pre><code>
            <span>// Update DOM</span>
            function loadSong(song) {
                title.textContent = song.displayName;
                artist.textContent = song.artist;
                music.src = `music/${song.name}.mp3`;
                image.src = `img/${song.name}.jpg`;
            }
            console.log(music);<span>// &lt;audio src=&quot;music/music-1.mp3&quot; &gt;&lt;/audio&gt;</span>
            console.log(image); <span>// &lt;img src=&quot;img/jacinto-1.jpg&quot; alt=&quot;Album Art&quot;&gt;</span>
            console.log(music.src) <span>// http://127.0.0.1:5500/templates/music-player/music/music-1.mp3</span>
        </code></pre>


    </div>


    <script src="./main.js"></script>
</body>

</html>