@import url("./reset.css");
@import url("./fonts.css");


:root {
    --background: #c9ced3;
    --primaryColor: #fff;
    --navColor1: #21292c;
    --navColor2: #aa3e39;
    --navColor3: #aa6e39;
    --navColor4: #236267;
    --navColor5: #2c8437;
}
h1,
h2,
h3 {
    text-align: center;
    color: #222222;
    font-family: sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;    
    color: #222222;
    background-color: var(--background);  
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-align: left;
}
.my-container {
  height: 100vh;
  width: 100vh;   
  /* background: url('./robot.gif'); */
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
.my-wrapper {
    max-width: 1200px;
    margin: 1rem auto;
}
.my-wrapper pre {
    background-color: rgba(255, 240, 174, 0.342);
}
.my-wrapper pre code {
    background-color: transparent;
}
code {
    line-height: 1.5;
    background-color: rgba(255, 240, 174, 0.342);
    padding: 3px;
    padding-bottom: 3px;
    color: rgb(22, 22, 22);
    font-size: 1.3rem;
}
code span {
    color: rgb(45, 45, 248);
    font-style: italic;
}
/* image-container */
.img-container {
    margin: 10px 5%;
}

.img-container img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.alert{
    padding: 5px;
    background-color: rgb(222, 243, 255);
    border-left: 7px solid rgb(255, 145, 0);
    color: rgb(22, 22, 22);
    margin-bottom: 8px;
}
.alert code{
    color: rgb(3, 60, 182);
    font-weight: 600;
}
a.link {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: 600;
}
a.link:hover {
    color: var(--on-background);
    border-bottom: 3px solid;
}
/* ===================CONTENT======================== */
.player-container{
    width: 500px;
    height: 400px;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}